openapi: 3.0.1
info:
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Finnhub API
  version: 1.0.0
servers:
- url: https://finnhub.io/api/v1
paths:
  /search:
    get:
      description: Search for best-matching symbols based on your query. You can input
        anything from symbol, security's name to ISIN and Cusip.
      operationId: symbol-search
      parameters:
      - description: Query text can be symbol, name, isin, or cusip.
        in: query
        name: q
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolLookup'
          description: successful operation
      security:
      - api_key: []
      summary: Symbol Lookup
      tags:
      - Default
  /stock/symbol:
    get:
      description: List supported stocks. We use the following symbology to identify
        stocks on Finnhub <code>Exchange_Ticker.Exchange_Code</code>. A list of supported
        exchange codes can be found <a href="https://docs.google.com/spreadsheets/d/1I3pBxjfXB056-g_JYf_6o3Rns3BV2kMGG1nCatb91ls/edit?usp=sharing"
        target="_blank">here</a>. A list of supported CFD Indices can be found <a
        href="https://docs.google.com/spreadsheets/d/1BAbIXBgl405fj0oHeEyRFEu8mW4QD1PhvtaBATLoR14/edit?usp=sharing"
        target="_blank">here</a>.
      operationId: stock-symbols
      parameters:
      - description: Exchange you want to get the list of symbols from. List of exchange
          codes can be found <a href="https://docs.google.com/spreadsheets/d/1I3pBxjfXB056-g_JYf_6o3Rns3BV2kMGG1nCatb91ls/edit?usp=sharing"
          target="_blank">here</a>.
        in: query
        name: exchange
        required: true
        schema:
          type: string
      - description: Filter by MIC code.
        in: query
        name: mic
        schema:
          type: string
      - description: Filter by security type used by OpenFigi standard.
        in: query
        name: securityType
        schema:
          type: string
      - description: Filter by currency.
        in: query
        name: currency
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Stock'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Stock Symbol
      tags:
      - Default
  /stock/profile:
    get:
      description: Get general information of a company. You can query by symbol,
        ISIN or CUSIP
      operationId: company-profile
      parameters:
      - description: 'Symbol of the company: AAPL e.g.'
        in: query
        name: symbol
        schema:
          type: string
      - description: ISIN
        in: query
        name: isin
        schema:
          type: string
      - description: CUSIP
        in: query
        name: cusip
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyProfile'
          description: successful operation
      security:
      - api_key: []
      summary: Company Profile
      tags:
      - Default
  /stock/profile2:
    get:
      description: Get general information of a company. You can query by symbol,
        ISIN or CUSIP. This is the free version of <a href="#company-profile">Company
        Profile</a>.
      operationId: company-profile2
      parameters:
      - description: 'Symbol of the company: AAPL e.g.'
        in: query
        name: symbol
        schema:
          type: string
      - description: ISIN
        in: query
        name: isin
        schema:
          type: string
      - description: CUSIP
        in: query
        name: cusip
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyProfile2'
          description: successful operation
      security:
      - api_key: []
      summary: Company Profile 2
      tags:
      - Default
  /stock/executive:
    get:
      description: Get a list of company's executives and members of the Board.
      operationId: company-executive
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyExecutive'
          description: successful operation
      security:
      - api_key: []
      summary: Company Executive
      tags:
      - Default
  /news:
    get:
      description: Get latest market news.
      operationId: market-news
      parameters:
      - description: This parameter can be 1 of the following values <code>general,
          forex, crypto, merger</code>.
        in: query
        name: category
        required: true
        schema:
          type: string
      - description: Use this field to get only news after this ID. Default to 0
        in: query
        name: minId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Market News
      tags:
      - Default
  /company-news:
    get:
      description: List latest company news by symbol. This endpoint is only available
        for North American companies.
      operationId: company-news
      parameters:
      - description: Company symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: From date <code>YYYY-MM-DD</code>.
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: To date <code>YYYY-MM-DD</code>.
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Company News
      tags:
      - Default
  /press-releases:
    get:
      description: Get latest major press releases of a company. This data can be
        used to highlight the most significant events comprised of mostly press releases
        sourced from the exchanges, BusinessWire, AccessWire, GlobeNewswire, Newsfile,
        and PRNewswire.
      operationId: press-releases
      parameters:
      - description: Company symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'From time: 2020-01-01.'
        in: query
        name: from
        schema:
          format: date
          type: string
      - description: 'To time: 2020-01-05.'
        in: query
        name: to
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MajorPressReleases'
          description: successful operation
      security:
      - api_key: []
      summary: Major Press Releases
      tags:
      - Default
  /news-sentiment:
    get:
      description: Get company's news sentiment and statistics. This endpoint is only
        available for US companies.
      operationId: news-sentiment
      parameters:
      - description: Company symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsSentiment'
          description: successful operation
      security:
      - api_key: []
      summary: News Sentiment
      tags:
      - Default
  /stock/peers:
    get:
      description: Get company peers. Return a list of peers in the same country and
        GICS sub-industry
      operationId: company-peers
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Peers
      tags:
      - Default
  /stock/metric:
    get:
      description: Get company basic financials such as margin, P/E ratio, 52-week
        high/low etc.
      operationId: company-basic-financials
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Metric type. Can be 1 of the following values <code>all</code>
        in: query
        name: metric
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicFinancials'
          description: successful operation
      security:
      - api_key: []
      summary: Basic Financials
      tags:
      - Default
  /stock/ownership:
    get:
      description: Get a full list of shareholders of a company in descending order
        of the number of shares held. Data is sourced from <code>13F form</code>,
        <code>Schedule 13D</code> and <code>13G</code> for US market, <code>UK Share
        Register</code> for UK market, <code>SEDI</code> for Canadian market and equivalent
        filings for other international markets.
      operationId: ownership
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Limit number of results. Leave empty to get the full list.
        in: query
        name: limit
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ownership'
          description: successful operation
      security:
      - api_key: []
      summary: Ownership
      tags:
      - Default
  /stock/fund-ownership:
    get:
      description: Get a full list fund and institutional investors of a company in
        descending order of the number of shares held. Data is sourced from <code>13F
        form</code>, <code>Schedule 13D</code> and <code>13G</code> for US market,
        <code>UK Share Register</code> for UK market, <code>SEDI</code> for Canadian
        market and equivalent filings for other international markets.
      operationId: fund-ownership
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Limit number of results. Leave empty to get the full list.
        in: query
        name: limit
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundOwnership'
          description: successful operation
      security:
      - api_key: []
      summary: Fund Ownership
      tags:
      - Default
  /stock/insider-transactions:
    get:
      description: Company insider transactions data sourced from <code>Form 3,4,5</code>.
        This endpoint only covers US companies at the moment. Limit to 100 transactions
        per API call.
      operationId: insider-transactions
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'From date: 2020-03-15.'
        in: query
        name: from
        schema:
          format: date
          type: string
      - description: 'To date: 2020-03-16.'
        in: query
        name: to
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsiderTransactions'
          description: successful operation
      security:
      - api_key: []
      summary: Insider Transactions
      tags:
      - Default
  /stock/financials:
    get:
      description: <p>Get standardized balance sheet, income statement and cash flow
        for global companies going back 30+ years. Data is sourced from original filings
        most of which made available through <a href="#filings">SEC Filings</a> and
        <a href="#international-filings">International Filings</a> endpoints.</p><p><i>Wondering
        why our standardized data is different from Bloomberg, Reuters, Factset, S&P
        or Yahoo Finance ? Check out our <a href="/faq">FAQ page</a> to learn more</i></p>
      operationId: financials
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Statement can take 1 of these values <code>bs, ic, cf</code>
          for Balance Sheet, Income Statement, Cash Flow respectively.
        in: query
        name: statement
        required: true
        schema:
          type: string
      - description: Frequency can take 1 of these values <code>annual, quarterly,
          ttm, ytd</code>.  TTM (Trailing Twelve Months) option is available for Income
          Statement and Cash Flow. YTD (Year To Date) option is only available for
          Cash Flow.
        in: query
        name: freq
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialStatements'
          description: successful operation
      security:
      - api_key: []
      summary: Financial Statements
      tags:
      - Default
  /stock/financials-reported:
    get:
      description: Get financials as reported. This data is available for bulk download
        on <a href="https://www.kaggle.com/finnhub/reported-financials" target="_blank">Kaggle
        SEC Financials database</a>.
      operationId: financials-reported
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: CIK.
        in: query
        name: cik
        schema:
          type: string
      - description: Access number of a specific report you want to retrieve financials
          from.
        in: query
        name: accessNumber
        schema:
          type: string
      - description: Frequency. Can be either <code>annual</code> or <code>quarterly</code>.
          Default to <code>annual</code>.
        in: query
        name: freq
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialsAsReported'
          description: successful operation
      security:
      - api_key: []
      summary: Financials As Reported
      tags:
      - Default
  /stock/revenue-breakdown:
    get:
      description: Get revenue breakdown by product. This dataset is only available
        for US companies which disclose their revenue breakdown in the annual or quarterly
        reports.
      operationId: revenue-breakdown
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: CIK.
        in: query
        name: cik
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueBreakdown'
          description: successful operation
      security:
      - api_key: []
      summary: Revenue Breakdown
      tags:
      - Default
  /stock/filings:
    get:
      description: List company's filing. Limit to 250 documents at a time. This data
        is available for bulk download on <a href="https://www.kaggle.com/finnhub/sec-filings"
        target="_blank">Kaggle SEC Filings database</a>.
      operationId: filings
      parameters:
      - description: Symbol. Leave <code>symbol</code>,<code>cik</code> and <code>accessNumber</code>
          empty to list latest filings.
        in: query
        name: symbol
        schema:
          type: string
      - description: CIK.
        in: query
        name: cik
        schema:
          type: string
      - description: Access number of a specific report you want to retrieve data
          from.
        in: query
        name: accessNumber
        schema:
          type: string
      - description: Filter by form. You can use this value <code>NT 10-K</code> to
          find non-timely filings for a company.
        in: query
        name: form
        schema:
          type: string
      - description: 'From date: 2020-03-15.'
        in: query
        name: from
        schema:
          format: date
          type: string
      - description: 'To date: 2020-03-16.'
        in: query
        name: to
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Filing'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: SEC Filings
      tags:
      - Default
  /stock/international-filings:
    get:
      description: List filings for international companies which covers 95%+ of global
        market cap. Limit to 250 documents at a time. These are the documents we use
        to source our fundamental data.
      operationId: international-filings
      parameters:
      - description: Symbol. Leave empty to list latest filings.
        in: query
        name: symbol
        schema:
          type: string
      - description: Filter by country using country's 2-letter code.
        in: query
        name: country
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InternationalFiling'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: International Filings
      tags:
      - Default
  /stock/filings-sentiment:
    get:
      description: Get sentiment analysis of 10-K and 10-Q filings from SEC. An abnormal
        increase in the number of positive/negative words in filings can signal a
        significant change in the company's stock price in the upcoming 4 quarters.
        We make use of <a href= "https://sraf.nd.edu/textual-analysis/resources/"
        target="_blank">Loughran and McDonald Sentiment Word Lists</a> to calculate
        the sentiment for each filing.
      operationId: filings-sentiment
      parameters:
      - description: Access number of a specific report you want to retrieve data
          from.
        in: query
        name: accessNumber
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SECSentimentAnalysis'
          description: successful operation
      security:
      - api_key: []
      summary: SEC Sentiment Analysis
      tags:
      - Default
  /stock/similarity-index:
    get:
      description: <p>Calculate the textual difference between a company's 10-K /
        10-Q reports and the same type of report in the previous year using Cosine
        Similarity. For example, this endpoint compares 2019's 10-K with 2018's 10-K.
        Companies breaking from its routines in disclosure of financial condition
        and risk analysis section can signal a significant change in the company's
        stock price in the upcoming 4 quarters.</p>
      operationId: similarity-index
      parameters:
      - description: Symbol. Required if cik is empty
        in: query
        name: symbol
        schema:
          type: string
      - description: CIK. Required if symbol is empty
        in: query
        name: cik
        schema:
          type: string
      - description: <code>annual</code> or <code>quarterly</code>. Default to <code>annual</code>
        in: query
        name: freq
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimilarityIndex'
          description: successful operation
      security:
      - api_key: []
      summary: Similarity Index
      tags:
      - Default
  /calendar/ipo:
    get:
      description: Get recent and upcoming IPO.
      operationId: ipo-calendar
      parameters:
      - description: 'From date: 2020-03-15.'
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: 'To date: 2020-03-16.'
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPOCalendar'
          description: successful operation
      security:
      - api_key: []
      summary: IPO Calendar
      tags:
      - Default
  /stock/dividend:
    get:
      description: Get dividends data for common stocks going back 30 years.
      operationId: stock-dividends
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: YYYY-MM-DD.
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: YYYY-MM-DD.
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dividends'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Dividends
      tags:
      - Default
  /stock/recommendation:
    get:
      description: Get latest analyst recommendation trends for a company.
      operationId: recommendation-trends
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RecommendationTrend'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Recommendation Trends
      tags:
      - Default
  /stock/price-target:
    get:
      description: Get latest price target consensus.
      operationId: price-target
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceTarget'
          description: successful operation
      security:
      - api_key: []
      summary: Price Target
      tags:
      - Default
  /stock/upgrade-downgrade:
    get:
      description: Get latest stock upgrade and downgrade.
      operationId: upgrade-downgrade
      parameters:
      - description: 'Symbol of the company: AAPL. If left blank, the API will return
          latest stock upgrades/downgrades.'
        in: query
        name: symbol
        schema:
          type: string
      - description: 'From date: 2000-03-15.'
        in: query
        name: from
        schema:
          format: date
          type: string
      - description: 'To date: 2020-03-16.'
        in: query
        name: to
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UpgradeDowngrade'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Stock Upgrade/Downgrade
      tags:
      - Default
  /stock/revenue-estimate:
    get:
      description: Get company's revenue estimates.
      operationId: company-revenue-estimates
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'Can take 1 of the following values: <code>annual, quarterly</code>.
          Default to <code>quarterly</code>'
        in: query
        name: freq
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueEstimates'
          description: successful operation
      security:
      - api_key: []
      summary: Revenue Estimates
      tags:
      - Default
  /stock/eps-estimate:
    get:
      description: Get company's EPS estimates.
      operationId: company-eps-estimates
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'Can take 1 of the following values: <code>annual, quarterly</code>.
          Default to <code>quarterly</code>'
        in: query
        name: freq
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsEstimates'
          description: successful operation
      security:
      - api_key: []
      summary: Earnings Estimates
      tags:
      - Default
  /stock/earnings:
    get:
      description: Get company historical quarterly earnings surprise going back to
        2000.
      operationId: company-earnings
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Limit number of period returned. Leave blank to get the full
          history.
        in: query
        name: limit
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EarningResult'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Earnings Surprises
      tags:
      - Default
  /calendar/earnings:
    get:
      description: Get historical and coming earnings release. EPS and Revenue in
        this endpoint are non-GAAP, which means they are adjusted to exclude some
        one-time or unusual items. This is the same data investors usually react to
        and talked about on the media. Estimates are sourced from both sell-side and
        buy-side analysts.
      operationId: earnings-calendar
      parameters:
      - description: 'From date: 2020-03-15.'
        in: query
        name: from
        schema:
          format: date
          type: string
      - description: 'To date: 2020-03-16.'
        in: query
        name: to
        schema:
          format: date
          type: string
      - description: 'Filter by symbol: AAPL.'
        in: query
        name: symbol
        schema:
          type: string
      - description: Set to <code>true</code> to include international markets. Default
          value is <code>false</code>
        in: query
        name: international
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsCalendar'
          description: successful operation
      security:
      - api_key: []
      summary: Earnings Calendar
      tags:
      - Default
  /quote:
    get:
      description: <p>Get real-time quote data for US stocks. Constant polling is
        not recommended. Use websocket if you need real-time updates.</p><p>Real-time
        stock prices for international markets are supported for Enterprise clients
        via our partner's feed. <a href="mailto:support@finnhub.io">Contact Us</a>
        to learn more.</p>
      operationId: quote
      parameters:
      - description: Symbol
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
          description: successful operation
      security:
      - api_key: []
      summary: Quote
      tags:
      - Default
  /stock/candle:
    get:
      description: <p>Get candlestick data (OHLCV) for stocks
      operationId: stock-candles
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M
          </code>.Some timeframes might not be available depending on the exchange.
        in: query
        name: resolution
        required: true
        schema:
          type: string
      - description: UNIX timestamp. Interval initial value.
        in: query
        name: from
        required: true
        schema:
          format: int64
          type: integer
      - description: UNIX timestamp. Interval end value.
        in: query
        name: to
        required: true
        schema:
          format: int64
          type: integer
      - description: 'DEPRECATED: this option has been deprecated. All Daily data
          will be adjusted for Splits and intraday data will remain unadjusted.'
        in: query
        name: adjusted
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockCandles'
          description: successful operation
      security:
      - api_key: []
      summary: Stock Candles
      tags:
      - Default
  /stock/tick:
    get:
      description: |-
        <p>Get historical tick data for global exchanges. You can send the request directly to our tick server at <a href="https://tick.finnhub.io/">https://tick.finnhub.io/</a> with the same path and parameters or get redirected there if you call our main server.</p><p>For US market, you can visit our bulk download page in the Dashboard <a target="_blank" href="/dashboard/download",>here</a> to speed up the download process.</p><p>Note that for Nasdaq Nordic and Baltic, you need to use ISIN instead of symbol to query tick data. </p><table class="table table-hover">
          <thead>
            <tr>
              <th>Exchange</th>
              <th>Segment</th>
              <th>Delay</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-blue">US CTA/UTP</th>
              <td>Full SIP</td>
              <td>15 minute</td>
            </tr>
            <tr>
              <td class="text-blue">TSX</th>
              <td><ul><li>TSX</li><li>TSX Venture</li><li>Index</li></ul></td>
              <td>End-of-day</td>
            </tr>
            <tr>
              <td class="text-blue">LSE</th>
              <td><ul><li>London Stock Exchange (L)</li><li>LSE International (L)</li><li>LSE European (L)</li></ul></td>
              <td>15 minute</td>
            </tr>
            <tr>
              <td class="text-blue">Euronext</th>
              <td><ul> <li>Euronext Paris (PA)</li> <li>Euronext Amsterdam (AS)</li> <li>Euronext Lisbon (LS)</li> <li>Euronext Brussels (BR)</li> <li>Euronext Oslo (OL)</li> <li>Euronext London (LN)</li> <li>Euronext Dublin (IR)</li> <li>Index</li> <li>Warrant</li></ul></td>
              <td>End-of-day</td>
            </tr>
            <tr>
              <td class="text-blue">Deutsche Börse</th>
              <td><ul> <li>Frankfurt (F)</li> <li>Xetra (DE)</li> <li>Duesseldorf (DU)</li> <li>Hamburg (HM)</li> <li>Berlin (BE)</li> <li>Hanover (HA)</li> <li>Stoxx (SX)</li> <li>TradeGate (TG)</li> <li>Zertifikate (SC)</li> <li>Index</li> <li>Warrant</li></ul></td>
              <td>End-of-day</td>
            </tr>
            <tr>
              <td class="text-blue">Nasdaq Nordic & Baltic</th>
              <td> <ul> <li>Copenhagen (CO)</li> <li>Stockholm (ST)</li> <li>Helsinki (HE)</li> <li>Iceland (IC)</li> <li>Riga (RG)</li> <li>Tallinn (TL)</li> <li>Vilnius(VS)</li> <li>Fixed Income</li> <li>Derivatives</li> <li>Commodities</li></ul></td>
              <td>End-of-day</td>
            </tr>
          </tbody>
        </table>
      operationId: stock-tick
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'Date: 2020-04-02.'
        in: query
        name: date
        required: true
        schema:
          format: date
          type: string
      - description: 'Limit number of ticks returned. Maximum value: <code>25000</code>'
        in: query
        name: limit
        required: true
        schema:
          format: int64
          type: integer
      - description: Number of ticks to skip. Use this parameter to loop through the
          entire data.
        in: query
        name: skip
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickData'
          description: successful operation
      security:
      - api_key: []
      summary: Tick Data
      tags:
      - Default
  /stock/bbo:
    get:
      description: <p>Get historical best bid and offer for US stocks, LSE, TSX, Euronext
        and Deutsche Borse.</p><p>For US market, this endpoint only serves historical
        NBBO from the beginning of 2020. To download more historical data, please
        visit our bulk download page in the Dashboard <a target="_blank" href="/dashboard/download",>here</a>.</p>
      operationId: stock-nbbo
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'Date: 2020-04-02.'
        in: query
        name: date
        required: true
        schema:
          format: date
          type: string
      - description: 'Limit number of ticks returned. Maximum value: <code>25000</code>'
        in: query
        name: limit
        required: true
        schema:
          format: int64
          type: integer
      - description: Number of ticks to skip. Use this parameter to loop through the
          entire data.
        in: query
        name: skip
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalNBBO'
          description: successful operation
      security:
      - api_key: []
      summary: Historical NBBO
      tags:
      - Default
  /stock/bidask:
    get:
      description: Get last bid/ask data for US stocks.
      operationId: stock-bidask
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LastBid-Ask'
          description: successful operation
      security:
      - api_key: []
      summary: Last Bid-Ask
      tags:
      - Default
  /stock/split:
    get:
      description: Get splits data for stocks.
      operationId: stock-splits
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: YYYY-MM-DD.
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: YYYY-MM-DD.
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Split'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Splits
      tags:
      - Default
  /stock/dividend2:
    get:
      description: Get global dividends data.
      operationId: stock-basic-dividends
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dividends2(Basic)'
          description: successful operation
      security:
      - api_key: []
      summary: Dividends 2 (Basic)
      tags:
      - Default
  /index/constituents:
    get:
      description: Get a list of index's constituents. A list of supported indices
        for this endpoint can be found <a href="https://docs.google.com/spreadsheets/d/1Syr2eLielHWsorxkDEZXyc55d6bNx1M3ZeI4vdn7Qzo/edit?usp=sharing"
        target="_blank">here</a>.
      operationId: indices-constituents
      parameters:
      - description: symbol
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicesConstituents'
          description: successful operation
      security:
      - api_key: []
      summary: Indices Constituents
      tags:
      - Default
  /index/historical-constituents:
    get:
      description: Get full history of index's constituents including symbols and
        dates of joining and leaving the Index. Currently support <code>^GSPC (S&P
        500)</code>, <code>^NDX (Nasdaq 100)</code>, <code>^DJI (Dow Jones)</code>
      operationId: indices-historical-constituents
      parameters:
      - description: symbol
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicesHistoricalConstituents'
          description: successful operation
      security:
      - api_key: []
      summary: Indices Historical Constituents
      tags:
      - Default
  /etf/profile:
    get:
      description: Get ETF profile information. This endpoint has global coverage.
      operationId: etfs-profile
      parameters:
      - description: ETF symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: ETF isin.
        in: query
        name: isin
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ETFsProfile'
          description: successful operation
      security:
      - api_key: []
      summary: ETFs Profile
      tags:
      - Default
  /etf/holdings:
    get:
      description: Get full ETF holdings/constituents. This endpoint has global coverage.
        Widget only shows top 10 holdings.
      operationId: etfs-holdings
      parameters:
      - description: ETF symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: ETF isin.
        in: query
        name: isin
        schema:
          type: string
      - description: Skip the first n results. You can use this parameter to query
          historical constituents data. The latest result is returned if skip=0 or
          not set.
        in: query
        name: skip
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ETFsHoldings'
          description: successful operation
      security:
      - api_key: []
      summary: ETFs Holdings
      tags:
      - Default
  /etf/sector:
    get:
      description: Get ETF sector exposure data.
      operationId: etfs-sector-exposure
      parameters:
      - description: ETF symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ETFsSectorExposure'
          description: successful operation
      security:
      - api_key: []
      summary: ETFs Sector Exposure
      tags:
      - Default
  /etf/country:
    get:
      description: Get ETF country exposure data.
      operationId: etfs-country-exposure
      parameters:
      - description: ETF symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ETFsCountryExposure'
          description: successful operation
      security:
      - api_key: []
      summary: ETFs Country Exposure
      tags:
      - Default
  /mutual-fund/profile:
    get:
      description: Get mutual funds profile information. This endpoint covers US mutual
        funds only.
      operationId: mutual-fund-profile
      parameters:
      - description: Fund's symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: Fund's isin.
        in: query
        name: isin
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutualFundsProfile'
          description: successful operation
      security:
      - api_key: []
      summary: Mutual Funds Profile
      tags:
      - Default
  /mutual-fund/holdings:
    get:
      description: Get full Mutual Funds holdings/constituents.
      operationId: mutual-fund-holdings
      parameters:
      - description: Fund's symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: Fund's isin.
        in: query
        name: isin
        schema:
          type: string
      - description: Skip the first n results. You can use this parameter to query
          historical constituents data. The latest result is returned if skip=0 or
          not set.
        in: query
        name: skip
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutualFundsHoldings'
          description: successful operation
      security:
      - api_key: []
      summary: Mutual Funds Holdings
      tags:
      - Default
  /mutual-fund/sector:
    get:
      description: Get Mutual Funds sector exposure data.
      operationId: mutual-fund-sector-exposure
      parameters:
      - description: Mutual Fund symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mutual-fundSectorExposure'
          description: successful operation
      security:
      - api_key: []
      summary: Mutual-fund Sector Exposure
      tags:
      - Default
  /mutual-fund/country:
    get:
      description: Get Mutual Funds country exposure data.
      operationId: mutual-fund-country-exposure
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutualFundsCountryExposure'
          description: successful operation
      security:
      - api_key: []
      summary: Mutual Funds Country Exposure
      tags:
      - Default
  /forex/exchange:
    get:
      description: List supported forex exchanges
      operationId: forex-exchanges
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Forex Exchanges
      tags:
      - Default
  /forex/symbol:
    get:
      description: List supported forex symbols.
      operationId: forex-symbols
      parameters:
      - description: Exchange you want to get the list of symbols from.
        in: query
        name: exchange
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ForexSymbol'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Forex Symbol
      tags:
      - Default
  /forex/candle:
    get:
      description: Get candlestick data for forex symbols.
      operationId: forex-candles
      parameters:
      - description: Use symbol returned in <code>/forex/symbol</code> endpoint for
          this field.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M
          </code>.Some timeframes might not be available depending on the exchange.
        in: query
        name: resolution
        required: true
        schema:
          type: string
      - description: UNIX timestamp. Interval initial value.
        in: query
        name: from
        required: true
        schema:
          format: int64
          type: integer
      - description: UNIX timestamp. Interval end value.
        in: query
        name: to
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForexCandles'
          description: successful operation
      security:
      - api_key: []
      summary: Forex Candles
      tags:
      - Default
  /forex/rates:
    get:
      description: Get rates for all forex pairs. Ideal for currency conversion
      operationId: forex-rates
      parameters:
      - description: Base currency. Default to EUR.
        in: query
        name: base
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forexrates'
          description: successful operation
      security:
      - api_key: []
      summary: Forex rates
      tags:
      - Default
  /crypto/exchange:
    get:
      description: List supported crypto exchanges
      operationId: crypto-exchanges
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Crypto Exchanges
      tags:
      - Default
  /crypto/symbol:
    get:
      description: List supported crypto symbols by exchange
      operationId: crypto-symbols
      parameters:
      - description: Exchange you want to get the list of symbols from.
        in: query
        name: exchange
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CryptoSymbol'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Crypto Symbol
      tags:
      - Default
  /crypto/candle:
    get:
      description: Get candlestick data for crypto symbols.
      operationId: crypto-candles
      parameters:
      - description: Use symbol returned in <code>/crypto/symbol</code> endpoint for
          this field.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M
          </code>.Some timeframes might not be available depending on the exchange.
        in: query
        name: resolution
        required: true
        schema:
          type: string
      - description: UNIX timestamp. Interval initial value.
        in: query
        name: from
        required: true
        schema:
          format: int64
          type: integer
      - description: UNIX timestamp. Interval end value.
        in: query
        name: to
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoCandles'
          description: successful operation
      security:
      - api_key: []
      summary: Crypto Candles
      tags:
      - Default
  /scan/pattern:
    get:
      description: Run pattern recognition algorithm on a symbol. Support double top/bottom,
        triple top/bottom, head and shoulders, triangle, wedge, channel, flag, and
        candlestick patterns.
      operationId: pattern-recognition
      parameters:
      - description: Symbol
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M
          </code>.Some timeframes might not be available depending on the exchange.
        in: query
        name: resolution
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatternRecognition'
          description: successful operation
      security:
      - api_key: []
      summary: Pattern Recognition
      tags:
      - Default
  /scan/support-resistance:
    get:
      description: Get support and resistance levels for a symbol.
      operationId: support-resistance
      parameters:
      - description: Symbol
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M
          </code>.Some timeframes might not be available depending on the exchange.
        in: query
        name: resolution
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportResistance'
          description: successful operation
      security:
      - api_key: []
      summary: Support/Resistance
      tags:
      - Default
  /scan/technical-indicator:
    get:
      description: Get aggregate signal of multiple technical indicators such as MACD,
        RSI, Moving Average v.v.
      operationId: aggregate-indicator
      parameters:
      - description: symbol
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M
          </code>.Some timeframes might not be available depending on the exchange.
        in: query
        name: resolution
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregateIndicators'
          description: successful operation
      security:
      - api_key: []
      summary: Aggregate Indicators
      tags:
      - Default
  /indicator:
    post:
      description: Return technical indicator with price data. List of supported indicators
        can be found <a href="https://docs.google.com/spreadsheets/d/1ylUvKHVYN2E87WdwIza8ROaCpd48ggEl1k5i5SgA29k/edit?usp=sharing"
        target="_blank">here</a>.
      operationId: technical-indicator
      parameters:
      - description: symbol
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M
          </code>.Some timeframes might not be available depending on the exchange.
        in: query
        name: resolution
        required: true
        schema:
          type: string
      - description: UNIX timestamp. Interval initial value.
        in: query
        name: from
        required: true
        schema:
          format: int64
          type: integer
      - description: UNIX timestamp. Interval end value.
        in: query
        name: to
        required: true
        schema:
          format: int64
          type: integer
      - description: Indicator name. Full list can be found <a href="https://docs.google.com/spreadsheets/d/1ylUvKHVYN2E87WdwIza8ROaCpd48ggEl1k5i5SgA29k/edit?usp=sharing"
          target="_blank">here</a>.
        in: query
        name: indicator
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndicatorFields'
        description: Check out <a href="https://docs.google.com/spreadsheets/d/1ylUvKHVYN2E87WdwIza8ROaCpd48ggEl1k5i5SgA29k/edit?usp=sharing"
          target="_blank">this page</a> to see which indicators and params are supported.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechnicalIndicator'
          description: successful operation
      security:
      - api_key: []
      summary: Technical Indicators
      tags:
      - Default
      x-codegen-request-body-name: indicator_fields
  /stock/transcripts/list:
    get:
      description: List earnings call transcripts' metadata. This endpoint is available
        for US, UK and Canadian companies.
      operationId: transcripts-list
      parameters:
      - description: 'Company symbol: AAPL. Leave empty to list the latest transcripts'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsCallTranscriptsList'
          description: successful operation
      security:
      - api_key: []
      summary: Earnings Call Transcripts List
      tags:
      - Default
  /stock/transcripts:
    get:
      description: <p>Get earnings call transcripts, audio and participants' list.
        This endpoint is only available for US, UK, and Candian companies. <p>15+
        years of data is available with 220,000+ audio which add up to 7TB in size.</p>
      operationId: earnings-call-transcripts-api
      parameters:
      - description: Transcript's id obtained with <a href="#transcripts-list">Transcripts
          List endpoint</a>.
        in: query
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsCallTranscripts'
          description: successful operation
      security:
      - api_key: []
      summary: Earnings Call Transcripts
      tags:
      - Default
  /stock/social-sentiment:
    get:
      description: <p>Get social sentiment for stocks on Reddit and Twitter. This
        endpoint is currently in Beta.</p>
      operationId: social-sentiment
      parameters:
      - description: Company symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: From date <code>YYYY-MM-DD</code>.
        in: query
        name: from
        schema:
          format: date
          type: string
      - description: To date <code>YYYY-MM-DD</code>.
        in: query
        name: to
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialSentiment'
          description: successful operation
      security:
      - api_key: []
      summary: Social Sentiment
      tags:
      - Default
  /stock/investment-theme:
    get:
      description: <p>Thematic investing involves creating a portfolio (or portion
        of a portfolio) by gathering together a collection of companies involved in
        certain areas that you predict will generate above-market returns over the
        long term. Themes can be based on a concept such as ageing populations or
        a sub-sector such as robotics, and drones. Thematic investing focuses on predicted
        long-term trends rather than specific companies or sectors, enabling investors
        to access structural, one-off shifts that can change an entire industry.</p><p>This
        endpoint will help you get portfolios of different investment themes that
        are changing our life and are the way of the future.</p><p>A full list of
        themes supported can be found <a target="_blank" href="https://docs.google.com/spreadsheets/d/1ULj9xDh4iPoQj279M084adZ2_S852ttRthKKJ7madYc/edit?usp=sharing">here</a>.
        The theme coverage and portfolios are updated bi-weekly by our analysts. Our
        approach excludes penny, super-small cap and illiquid stocks.</p>
      operationId: investment-themes-thematic-investing
      parameters:
      - description: Investment theme. A full list of themes supported can be found
          <a target="_blank" href="https://docs.google.com/spreadsheets/d/1ULj9xDh4iPoQj279M084adZ2_S852ttRthKKJ7madYc/edit?usp=sharing">here</a>.
        in: query
        name: theme
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentThemes(ThematicInvesting)'
          description: successful operation
      security:
      - api_key: []
      summary: Investment Themes (Thematic Investing)
      tags:
      - Default
  /stock/supply-chain:
    get:
      description: <p>This endpoint provides an overall map of public companies' key
        customers and suppliers. The data offers a deeper look into a company's supply
        chain and how products are created. The data will help investors manage risk,
        limit exposure or generate alpha-generating ideas and trading insights.</p><p>We
        currently cover data for S&P500 and Nasdaq 100 companies.</p>
      operationId: supply-chain-relationships
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplyChainRelationships'
          description: successful operation
      security:
      - api_key: []
      summary: Supply Chain Relationships
      tags:
      - Default
  /covid19/us:
    get:
      description: Get real-time updates on the number of COVID-19 (Corona virus)
        cases in the US with a state-by-state breakdown. Data is sourced from CDC
        and reputable sources. You can also access this API <a href="https://rapidapi.com/Finnhub/api/finnhub-real-time-covid-19"
        target="_blank" rel="nofollow">here</a>
      operationId: covid-19
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CovidInfo'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: COVID-19
      tags:
      - Default
  /fda-advisory-committee-calendar:
    get:
      description: FDA's advisory committees are established to provide functions
        which support the agency's mission of protecting and promoting the public
        health, while meeting the requirements set forth in the Federal Advisory Committee
        Act. Committees are either mandated by statute or established at the discretion
        of the Department of Health and Human Services. Each committee is subject
        to renewal at two-year intervals unless the committee charter states otherwise.
      operationId: fda-committee-meeting-calendar
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FDAComitteeMeeting'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: FDA Committee Meeting Calendar
      tags:
      - Default
  /country:
    get:
      description: List all countries and metadata.
      operationId: country
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CountryMetadata'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Country Metadata
      tags:
      - Default
  /economic/code:
    get:
      description: List codes of supported economic data.
      operationId: economic-code
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EconomicCode'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Economic Code
      tags:
      - Default
  /economic:
    get:
      description: Get economic data.
      operationId: economic-data
      parameters:
      - description: Economic code.
        in: query
        name: code
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EconomicData'
          description: successful operation
      security:
      - api_key: []
      summary: Economic Data
      tags:
      - Default
components:
  schemas:
    Stock:
      example:
        displaySymbol: displaySymbol
        symbol: symbol
        description: description
        type: type
      properties:
        description:
          description: Symbol description
          type: string
        displaySymbol:
          description: Display symbol name.
          type: string
        symbol:
          description: Unique symbol used to identify this symbol used in <code>/stock/candle</code>
            endpoint.
          type: string
        type:
          description: Security type.
          type: string
      type: object
    SymbolLookup:
      example:
        result:
        - '{}'
        - '{}'
        count: 0
      properties:
        result:
          description: Array of search results.
          items:
            type: object
          type: array
        count:
          description: Number of results.
          format: int64
          type: integer
      type: object
    CompanyProfile:
      example:
        country: country
        cusip: cusip
        city: city
        naicsSector: naicsSector
        description: description
        employeeTotal: 1
        gsector: gsector
        weburl: weburl
        logo: logo
        currency: currency
        state: state
        ggroup: ggroup
        ticker: ticker
        address: address
        marketCapitalization: 0.8008282
        gind: gind
        ipo: 2000-01-23
        sedol: sedol
        finnhubIndustry: finnhubIndustry
        naicsNationalIndustry: naicsNationalIndustry
        naicsSubsector: naicsSubsector
        phone: phone
        gsubind: gsubind
        name: name
        exchange: exchange
        naics: naics
        isin: isin
        shareOutstanding: 6.0274563
      properties:
        address:
          description: Address of company's headquarter.
          type: string
        city:
          description: City of company's headquarter.
          type: string
        country:
          description: Country of company's headquarter.
          type: string
        currency:
          description: Currency used in company filings.
          type: string
        cusip:
          description: CUSIP number.
          type: string
        sedol:
          description: Sedol number.
          type: string
        description:
          description: Company business summary.
          type: string
        exchange:
          description: Listed exchange.
          type: string
        ggroup:
          description: GICS industry group.
          type: string
        gind:
          description: GICS industry.
          type: string
        gsector:
          description: GICS sector.
          type: string
        gsubind:
          description: GICS sub-industry.
          type: string
        isin:
          description: ISIN number.
          type: string
        naicsNationalIndustry:
          description: NAICS national industry.
          type: string
        naics:
          description: NAICS industry.
          type: string
        naicsSector:
          description: NAICS sector.
          type: string
        naicsSubsector:
          description: NAICS subsector.
          type: string
        name:
          description: Company name.
          type: string
        phone:
          description: Company phone number.
          type: string
        state:
          description: State of company's headquarter.
          type: string
        ticker:
          description: Company symbol/ticker as used on the listed exchange.
          type: string
        weburl:
          description: Company website.
          type: string
        ipo:
          description: IPO date.
          format: date
          type: string
        marketCapitalization:
          description: Market Capitalization.
          format: float
          type: number
        shareOutstanding:
          description: Number of oustanding shares.
          format: float
          type: number
        employeeTotal:
          description: Number of employee.
          format: int64
          type: integer
        logo:
          description: Logo image.
          type: string
        finnhubIndustry:
          description: Finnhub industry classification.
          type: string
      type: object
    CompanyProfile2:
      example:
        finnhubIndustry: finnhubIndustry
        country: country
        ticker: ticker
        marketCapitalization: 0.8008282
        phone: phone
        weburl: weburl
        name: name
        ipo: 2000-01-23
        logo: logo
        currency: currency
        exchange: exchange
        shareOutstanding: 6.0274563
      properties:
        country:
          description: Country of company's headquarter.
          type: string
        currency:
          description: Currency used in company filings.
          type: string
        exchange:
          description: Listed exchange.
          type: string
        name:
          description: Company name.
          type: string
        ticker:
          description: Company symbol/ticker as used on the listed exchange.
          type: string
        ipo:
          description: IPO date.
          format: date
          type: string
        marketCapitalization:
          description: Market Capitalization.
          format: float
          type: number
        shareOutstanding:
          description: Number of oustanding shares.
          format: float
          type: number
        logo:
          description: Logo image.
          type: string
        phone:
          description: Company phone number.
          type: string
        weburl:
          description: Company website.
          type: string
        finnhubIndustry:
          description: Finnhub industry classification.
          type: string
      type: object
    Company:
      properties:
        name:
          description: Executive name
          type: string
        age:
          description: Age
          format: int64
          type: integer
        title:
          description: Title
          type: string
        since:
          description: Year appointed
          type: string
        sex:
          description: Sex
          type: string
        compensation:
          description: Total compensation
          format: int64
          type: integer
        currency:
          description: Compensation currency
          type: string
      type: object
    CompanyExecutive:
      example:
        symbol: symbol
        executive:
        - '{}'
        - '{}'
      properties:
        symbol:
          description: Company symbol.
          type: string
        executive:
          description: Array of company's executives and members of the Board.
          items:
            type: object
          type: array
      type: object
    News:
      example:
        summary: summary
        image: image
        datetime: 0
        related: related
        id: 6
        source: source
        category: category
        headline: headline
        url: url
      properties:
        category:
          description: News category.
          type: string
        datetime:
          description: Published time in UNIX timestamp.
          format: int64
          type: integer
        headline:
          description: News headline.
          type: string
        id:
          description: News ID. This value can be used for <code>minId</code> params
            to get the latest news only.
          format: int64
          type: integer
        image:
          description: Thumbnail image URL.
          type: string
        related:
          description: Related stocks and companies mentioned in the article.
          type: string
        source:
          description: News source.
          type: string
        summary:
          description: News summary.
          type: string
        url:
          description: URL of the original article.
          type: string
      type: object
    Development:
      properties:
        symbol:
          description: Company symbol.
          type: string
        datetime:
          description: Published time in <code>YYYY-MM-DD HH:MM:SS</code> format.
          format: date-time
          type: string
        headline:
          description: Development headline.
          type: string
        description:
          description: Development description.
          type: string
        url:
          description: URL.
          type: string
      type: object
    MajorPressReleases:
      example:
        majorDevelopment:
        - '{}'
        - '{}'
        symbol: symbol
      properties:
        symbol:
          description: Company symbol.
          type: string
        majorDevelopment:
          description: Array of major developments.
          items:
            type: object
          type: array
      type: object
    CompanyNewsStatistics:
      example:
        weeklyAverage: 1.4658129
        articlesInLastWeek: 0
        buzz: 6.0274563
      properties:
        articlesInLastWeek:
          description: ""
          format: int64
          type: integer
        buzz:
          description: ""
          format: float
          type: number
        weeklyAverage:
          description: ""
          format: float
          type: number
      type: object
    Sentiment:
      example:
        bearishPercent: 7
        bullishPercent: 9
      properties:
        bearishPercent:
          description: ""
          format: int64
          type: integer
        bullishPercent:
          description: ""
          format: int64
          type: integer
      type: object
    NewsSentiment:
      example:
        sentiment:
          bearishPercent: 7
          bullishPercent: 9
        symbol: symbol
        sectorAverageBullishPercent: 5.637377
        sectorAverageNewsScore: 2.302136
        buzz:
          weeklyAverage: 1.4658129
          articlesInLastWeek: 0
          buzz: 6.0274563
        companyNewsScore: 5.962134
      properties:
        buzz:
          $ref: '#/components/schemas/CompanyNewsStatistics'
        companyNewsScore:
          description: News score.
          format: float
          type: number
        sectorAverageBullishPercent:
          description: Sector average bullish percent.
          format: float
          type: number
        sectorAverageNewsScore:
          description: Sectore average score.
          format: float
          type: number
        sentiment:
          $ref: '#/components/schemas/Sentiment'
        symbol:
          description: Requested symbol.
          type: string
      type: object
    MetricSeriesMap:
      type: object
    MetricMap:
      type: object
    BasicFinancials:
      example:
        symbol: symbol
        metricType: metricType
        metric: '{}'
        series: '{}'
      properties:
        symbol:
          description: Symbol of the company.
          type: string
        metricType:
          description: Metric type.
          type: string
        series:
          type: object
        metric:
          type: object
      type: object
    Investor:
      properties:
        name:
          description: Investor's name.
          type: string
        share:
          description: Number of shares held by the investor.
          format: int64
          type: integer
        change:
          description: Number of share changed (net buy or sell) from the last period.
          format: int64
          type: integer
        filingDate:
          description: Filing date.
          format: date
          type: string
      type: object
    Ownership:
      example:
        symbol: symbol
        ownership:
        - '{}'
        - '{}'
      properties:
        symbol:
          description: Symbol of the company.
          type: string
        ownership:
          description: Array of investors with detailed information about their holdings.
          items:
            type: object
          type: array
      type: object
    FundOwnership:
      example:
        symbol: symbol
        ownership:
        - '{}'
        - '{}'
      properties:
        symbol:
          description: Symbol of the company.
          type: string
        ownership:
          description: Array of investors with detailed information about their holdings.
          items:
            type: object
          type: array
      type: object
    Transactions:
      properties:
        name:
          description: Insider's name.
          type: string
        share:
          description: Number of shares held after the transaction.
          format: int64
          type: integer
        change:
          description: Number of share changed from the last period. A positive value
            suggests a <code>BUY</code> transaction. A negative value suggests a <code>SELL</code>
            transaction.
          format: int64
          type: integer
        filingDate:
          description: Filing date.
          format: date
          type: string
        transactionDate:
          description: Transaction date.
          format: date
          type: string
        transactionPrice:
          description: Average transaction price.
          format: float
          type: number
        transactionCode:
          description: Transaction code. A list of codes and their meanings can be
            found <a href="https://www.sec.gov/about/forms/form4data.pdf" target="_blank"
            rel="noopener">here</a>.
          format: date
          type: string
      type: object
    InsiderTransactions:
      example:
        symbol: symbol
        data:
        - '{}'
        - '{}'
      properties:
        symbol:
          description: Symbol of the company.
          type: string
        data:
          description: Array of insider transactions.
          items:
            type: object
          type: array
      type: object
    FinancialMap:
      type: object
    FinancialStatements:
      example:
        symbol: symbol
        financials:
        - '{}'
        - '{}'
      properties:
        symbol:
          description: Symbol of the company.
          type: string
        financials:
          description: An array of map of key, value pairs containing the data for
            each period.
          items:
            type: object
          type: array
      type: object
    ReportDataMap:
      type: object
    Report:
      properties:
        accessNumber:
          description: Access number.
          type: string
        symbol:
          description: Symbol.
          type: string
        cik:
          description: CIK.
          type: string
        year:
          description: Year.
          format: int64
          type: integer
        quarter:
          description: Quarter.
          format: int64
          type: integer
        form:
          description: Form type.
          type: string
        startDate:
          description: Period start date <code>%Y-%m-%d %H:%M:%S</code>.
          format: date-time
          type: string
        endDate:
          description: Period end date <code>%Y-%m-%d %H:%M:%S</code>.
          format: date-time
          type: string
        filedDate:
          description: Filed date <code>%Y-%m-%d %H:%M:%S</code>.
          format: date-time
          type: string
        acceptedDate:
          description: Accepted date <code>%Y-%m-%d %H:%M:%S</code>.
          format: date-time
          type: string
        report:
          type: object
      type: object
    FinancialsAsReported:
      example:
        symbol: symbol
        cik: cik
        data:
        - '{}'
        - '{}'
      properties:
        symbol:
          description: Symbol
          type: string
        cik:
          description: CIK
          type: string
        data:
          description: Array of filings.
          items:
            type: object
          type: array
      type: object
    BreakdownItemMap:
      type: object
    BreakdownItem:
      properties:
        accessNumber:
          description: Access number of the report from which the data is sourced.
          type: string
        breakdown:
          type: object
      type: object
    RevenueBreakdown:
      example:
        symbol: symbol
        cik: cik
        data:
        - '{}'
        - '{}'
      properties:
        symbol:
          description: Symbol
          type: string
        cik:
          description: CIK
          type: string
        data:
          description: Array of revenue breakdown over multiple periods.
          items:
            type: object
          type: array
      type: object
    Filing:
      example:
        symbol: symbol
        cik: cik
        form: form
        accessNumber: accessNumber
        reportUrl: reportUrl
        filedDate: 2000-01-23T04:56:07.000+00:00
        acceptedDate: 2000-01-23T04:56:07.000+00:00
        filingUrl: filingUrl
      properties:
        accessNumber:
          description: Access number.
          type: string
        symbol:
          description: Symbol.
          type: string
        cik:
          description: CIK.
          type: string
        form:
          description: Form type.
          type: string
        filedDate:
          description: Filed date <code>%Y-%m-%d %H:%M:%S</code>.
          format: date-time
          type: string
        acceptedDate:
          description: Accepted date <code>%Y-%m-%d %H:%M:%S</code>.
          format: date-time
          type: string
        reportUrl:
          description: Report's URL.
          type: string
        filingUrl:
          description: Filing's URL.
          type: string
      type: object
    InternationalFiling:
      example:
        symbol: symbol
        country: country
        companyName: companyName
        description: description
        language: language
        category: category
        title: title
        filedDate: 2000-01-23T04:56:07.000+00:00
        url: url
      properties:
        symbol:
          description: Symbol.
          type: string
        companyName:
          description: Company name.
          type: string
        filedDate:
          description: Filed date <code>%Y-%m-%d %H:%M:%S</code>.
          format: date-time
          type: string
        category:
          description: Category.
          type: string
        title:
          description: Document's title.
          type: string
        description:
          description: Document's description.
          type: string
        url:
          description: Url.
          type: string
        language:
          description: Language.
          type: string
        country:
          description: Country.
          type: string
      type: object
    FilingSentiment:
      example:
        modal-strong: 9.301444
        negative: 0.8008282
        constraining: 2.302136
        modal-weak: 7.0614014
        modal-moderate: 3.6160767
        positive: 6.0274563
        uncertainty: 5.637377
        polarity: 1.4658129
        litigious: 5.962134
      properties:
        negative:
          description: '% of negative words in the filing.'
          format: float
          type: number
        positive:
          description: '% of positive words in the filing.'
          format: float
          type: number
        polarity:
          description: '% of polarity words in the filing.'
          format: float
          type: number
        litigious:
          description: '% of litigious words in the filing.'
          format: float
          type: number
        uncertainty:
          description: '% of uncertainty words in the filing.'
          format: float
          type: number
        constraining:
          description: '% of constraining words in the filing.'
          format: float
          type: number
        modal-weak:
          description: '% of modal-weak words in the filing.'
          format: float
          type: number
        modal-strong:
          description: '% of modal-strong words in the filing.'
          format: float
          type: number
        modal-moderate:
          description: '% of modal-moderate words in the filing.'
          format: float
          type: number
      type: object
    SECSentimentAnalysis:
      example:
        symbol: symbol
        sentiment:
          modal-strong: 9.301444
          negative: 0.8008282
          constraining: 2.302136
          modal-weak: 7.0614014
          modal-moderate: 3.6160767
          positive: 6.0274563
          uncertainty: 5.637377
          polarity: 1.4658129
          litigious: 5.962134
        cik: cik
        accessNumber: accessNumber
      properties:
        accessNumber:
          description: Access number.
          type: string
        symbol:
          description: Symbol.
          type: string
        cik:
          description: CIK.
          type: string
        sentiment:
          $ref: '#/components/schemas/FilingSentiment'
      type: object
    SimilarityIndex:
      example:
        symbol: symbol
        cik: cik
        similarity:
        - '{}'
        - '{}'
      properties:
        symbol:
          description: Symbol.
          type: string
        cik:
          description: CIK.
          type: string
        similarity:
          description: Array of filings with its cosine similarity compared to the
            same report of the previous year.
          items:
            type: object
          type: array
      type: object
    IPOEvent:
      properties:
        symbol:
          description: Symbol.
          type: string
        date:
          description: IPO date.
          format: date
          type: string
        exchange:
          description: Exchange.
          type: string
        name:
          description: Company's name.
          type: string
        status:
          description: 'IPO status. Can take 1 of the following values: <code>expected</code>,<code>priced</code>,<code>withdrawn</code>,<code>filed</code>'
          type: string
        price:
          description: Projected price or price range.
          type: string
        numberOfShares:
          description: Number of shares offered during the IPO.
          format: int64
          type: integer
        totalSharesValue:
          description: Total shares value.
          format: int64
          type: integer
      type: object
    IPOCalendar:
      example:
        ipoCalendar:
        - '{}'
        - '{}'
      properties:
        ipoCalendar:
          description: Array of IPO events.
          items:
            type: object
          type: array
      type: object
    Dividends:
      example:
        date: 2000-01-23
        symbol: symbol
        amount: 0.8008282
        declarationDate: 2000-01-23
        adjustedAmount: 6.0274563
        recordDate: 2000-01-23
        currency: currency
        payDate: 2000-01-23
      properties:
        symbol:
          description: Symbol.
          type: string
        date:
          description: Ex-Dividend date.
          format: date
          type: string
        amount:
          description: Amount in local currency.
          format: float
          type: number
        adjustedAmount:
          description: Adjusted dividend.
          format: float
          type: number
        payDate:
          description: Pay date.
          format: date
          type: string
        recordDate:
          description: Record date.
          format: date
          type: string
        declarationDate:
          description: Declaration date.
          format: date
          type: string
        currency:
          description: Currency.
          type: string
      type: object
    RecommendationTrend:
      example:
        symbol: symbol
        period: period
        buy: 0
        sell: 1
        strongSell: 5
        strongBuy: 5
        hold: 6
      properties:
        symbol:
          description: Company symbol.
          type: string
        buy:
          description: Number of recommendations that fall into the Buy category
          format: int64
          type: integer
        hold:
          description: Number of recommendations that fall into the Hold category
          format: int64
          type: integer
        period:
          description: Updated period
          type: string
        sell:
          description: Number of recommendations that fall into the Sell category
          format: int64
          type: integer
        strongBuy:
          description: Number of recommendations that fall into the Strong Buy category
          format: int64
          type: integer
        strongSell:
          description: Number of recommendations that fall into the Strong Sell category
          format: int64
          type: integer
      type: object
    PriceTarget:
      example:
        targetLow: 6.0274563
        symbol: symbol
        lastUpdated: 2000-01-23T04:56:07.000+00:00
        targetHigh: 0.8008282
        targetMean: 1.4658129
        targetMedian: 5.962134
      properties:
        symbol:
          description: Company symbol.
          type: string
        targetHigh:
          description: Highes analysts' target.
          format: float
          type: number
        targetLow:
          description: Lowest analysts' target.
          format: float
          type: number
        targetMean:
          description: Mean of all analysts' targets.
          format: float
          type: number
        targetMedian:
          description: Median of all analysts' targets.
          format: float
          type: number
        lastUpdated:
          description: Updated time of the data
          format: date-time
          type: string
      type: object
    UpgradeDowngrade:
      example:
        symbol: symbol
        gradeTime: 0
        fromGrade: fromGrade
        toGrade: toGrade
        action: action
        company: company
      properties:
        symbol:
          description: Company symbol.
          type: string
        gradeTime:
          description: Upgrade/downgrade time in UNIX timestamp.
          format: int64
          type: integer
        fromGrade:
          description: From grade.
          type: string
        toGrade:
          description: To grade.
          type: string
        company:
          description: Company/analyst who did the upgrade/downgrade.
          type: string
        action:
          description: 'Action can take any of the following values: <code>up(upgrade),
            down(downgrade), main(maintains), init(initiate), reit(reiterate)</code>.'
          type: string
      type: object
    Estimate:
      properties:
        revenueAvg:
          description: Average revenue estimates including Finnhub's proprietary estimates.
          format: int64
          type: integer
        revenueHigh:
          description: Highest estimate.
          format: int64
          type: integer
        revenueLow:
          description: Lowest estimate.
          format: int64
          type: integer
        numberAnalysts:
          description: Number of Analysts.
          format: int64
          type: integer
        period:
          description: Period.
          format: date
          type: string
      type: object
    RevenueEstimates:
      example:
        symbol: symbol
        data:
        - '{}'
        - '{}'
        freq: freq
      properties:
        data:
          description: List of estimates
          items:
            type: object
          type: array
        freq:
          description: 'Frequency: annual or quarterly.'
          type: string
        symbol:
          description: Company symbol.
          type: string
      type: object
    EarningEstimate:
      properties:
        epsAvg:
          description: Average EPS estimates including Finnhub's proprietary estimates.
          format: float
          type: number
        epsHigh:
          description: Highest estimate.
          format: float
          type: number
        epsLow:
          description: Lowest estimate.
          format: float
          type: number
        numberAnalysts:
          description: Number of Analysts.
          format: int64
          type: integer
        period:
          description: Period.
          format: date
          type: string
      type: object
    EarningsEstimates:
      example:
        symbol: symbol
        data:
        - '{}'
        - '{}'
        freq: freq
      properties:
        data:
          description: List of estimates
          items:
            type: object
          type: array
        freq:
          description: 'Frequency: annual or quarterly.'
          type: string
        symbol:
          description: Company symbol.
          type: string
      type: object
    EarningResult:
      example:
        actual: 0.8008282
        surprise: 1.4658129
        symbol: symbol
        period: 2000-01-23
        surprisePercent: 5.962134
        estimate: 6.0274563
      properties:
        actual:
          description: Actual earning result.
          format: float
          type: number
        estimate:
          description: Estimated earning.
          format: float
          type: number
        surprise:
          description: Surprise - The difference between actual and estimate.
          format: float
          type: number
        surprisePercent:
          description: Surprise percent.
          format: float
          type: number
        period:
          description: Reported period.
          format: date
          type: string
        symbol:
          description: Company symbol.
          type: string
      type: object
    EarningRelease:
      properties:
        symbol:
          description: Symbol.
          type: string
        date:
          description: Date.
          format: date
          type: string
        hour:
          description: Indicates whether the earnings is announced before market open(<code>bmo</code>),
            after market close(<code>amc</code>), or during market hour(<code>dmh</code>).
          type: string
        year:
          description: Earnings year.
          format: int64
          type: integer
        quarter:
          description: Earnings quarter.
          format: int64
          type: integer
        epsEstimate:
          description: EPS estimate.
          format: float
          type: number
        epsActual:
          description: EPS actual.
          format: float
          type: number
        revenueEstimate:
          description: Revenue estimate including Finnhub's proprietary estimates.
          format: int64
          type: integer
        revenueActual:
          description: Revenue actual.
          format: int64
          type: integer
      type: object
    EarningsCalendar:
      example:
        earningsCalendar:
        - '{}'
        - '{}'
      properties:
        earningsCalendar:
          description: Array of earnings release.
          items:
            type: object
          type: array
      type: object
    Quote:
      example:
        c: 5.962134
        pc: 5.637377
        d: 2.302136
        h: 6.0274563
        l: 1.4658129
        dp: 7.0614014
        o: 0.8008282
      properties:
        o:
          description: Open price of the day
          format: float
          type: number
        h:
          description: High price of the day
          format: float
          type: number
        l:
          description: Low price of the day
          format: float
          type: number
        c:
          description: Current price
          format: float
          type: number
        pc:
          description: Previous close price
          format: float
          type: number
        d:
          description: Change
          format: float
          type: number
        dp:
          description: Percent change
          format: float
          type: number
      type: object
    StockCandles:
      example:
        c:
        - 5.962134
        - 5.962134
        s: s
        t:
        - 2
        - 2
        v:
        - 5.637377
        - 5.637377
        h:
        - 6.0274563
        - 6.0274563
        l:
        - 1.4658129
        - 1.4658129
        o:
        - 0.8008282
        - 0.8008282
      properties:
        o:
          description: List of open prices for returned candles.
          items:
            format: float
            type: number
          type: array
        h:
          description: List of high prices for returned candles.
          items:
            format: float
            type: number
          type: array
        l:
          description: List of low prices for returned candles.
          items:
            format: float
            type: number
          type: array
        c:
          description: List of close prices for returned candles.
          items:
            format: float
            type: number
          type: array
        v:
          description: List of volume data for returned candles.
          items:
            format: float
            type: number
          type: array
        t:
          description: List of timestamp for returned candles.
          items:
            format: int64
            type: integer
          type: array
        s:
          description: Status of the response. This field can either be ok or no_data.
          type: string
      type: object
    TickData:
      example:
        p:
        - 5.637377
        - 5.637377
        total: 1
        s: s
        c:
        - - c
          - c
        - - c
          - c
        t:
        - 2
        - 2
        v:
        - 5.962134
        - 5.962134
        count: 6
        x:
        - x
        - x
        skip: 0
      properties:
        s:
          description: Symbol.
          type: string
        skip:
          description: Number of ticks skipped.
          format: int64
          type: integer
        count:
[...]
