openapi: 3.0.1
info:
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Finnhub API
  version: 1.0.0
servers:
- url: https://finnhub.io/api/v1
paths:
  /search:
    get:
      description: Search for best-matching symbols based on your query. You can input
        anything from symbol, security's name to ISIN and Cusip.
      operationId: symbol-search
      parameters:
      - description: Query text can be symbol, name, isin, or cusip.
        in: query
        name: q
        required: true
        schema:
          type: string
      - description: Exchange limit.
        in: query
        name: exchange
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolLookup'
          description: successful operation
      security:
      - api_key: []
      summary: Symbol Lookup
      tags:
      - Default
  /stock/symbol:
    get:
      description: List supported stocks. We use the following symbology to identify
        stocks on Finnhub <code>Exchange_Ticker.Exchange_Code</code>. A list of supported
        exchange codes can be found <a href="https://docs.google.com/spreadsheets/d/1I3pBxjfXB056-g_JYf_6o3Rns3BV2kMGG1nCatb91ls/edit?usp=sharing"
        target="_blank">here</a>.
      operationId: stock-symbols
      parameters:
      - description: Exchange you want to get the list of symbols from. List of exchange
          codes can be found <a href="https://docs.google.com/spreadsheets/d/1I3pBxjfXB056-g_JYf_6o3Rns3BV2kMGG1nCatb91ls/edit?usp=sharing"
          target="_blank">here</a>.
        in: query
        name: exchange
        required: true
        schema:
          type: string
      - description: Filter by MIC code.
        in: query
        name: mic
        schema:
          type: string
      - description: Filter by security type used by OpenFigi standard.
        in: query
        name: securityType
        schema:
          type: string
      - description: Filter by currency.
        in: query
        name: currency
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StockSymbol'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Stock Symbol
      tags:
      - Default
  /stock/market-status:
    get:
      description: Get current market status for global exchanges (whether exchanges
        are open or close).
      operationId: market-status
      parameters:
      - description: Exchange code.
        in: query
        name: exchange
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketStatus'
          description: successful operation
      security:
      - api_key: []
      summary: Market Status
      tags:
      - Default
  /stock/market-holiday:
    get:
      description: Get a list of holidays for global exchanges.
      operationId: market-holiday
      parameters:
      - description: Exchange code.
        in: query
        name: exchange
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketHoliday'
          description: successful operation
      security:
      - api_key: []
      summary: Market Holiday
      tags:
      - Default
  /stock/profile:
    get:
      description: Get general information of a company. You can query by symbol,
        ISIN or CUSIP
      operationId: company-profile
      parameters:
      - description: 'Symbol of the company: AAPL e.g.'
        in: query
        name: symbol
        schema:
          type: string
      - description: ISIN
        in: query
        name: isin
        schema:
          type: string
      - description: CUSIP
        in: query
        name: cusip
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyProfile'
          description: successful operation
      security:
      - api_key: []
      summary: Company Profile
      tags:
      - Default
  /stock/profile2:
    get:
      description: Get general information of a company. You can query by symbol,
        ISIN or CUSIP. This is the free version of <a href="#company-profile">Company
        Profile</a>.
      operationId: company-profile2
      parameters:
      - description: 'Symbol of the company: AAPL e.g.'
        in: query
        name: symbol
        schema:
          type: string
      - description: ISIN
        in: query
        name: isin
        schema:
          type: string
      - description: CUSIP
        in: query
        name: cusip
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyProfile2'
          description: successful operation
      security:
      - api_key: []
      summary: Company Profile 2
      tags:
      - Default
  /stock/executive:
    get:
      description: Get a list of company's executives and members of the Board.
      operationId: company-executive
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyExecutive'
          description: successful operation
      security:
      - api_key: []
      summary: Company Executive
      tags:
      - Default
  /news:
    get:
      description: Get latest market news.
      operationId: market-news
      parameters:
      - description: This parameter can be 1 of the following values <code>general,
          forex, crypto, merger</code>.
        in: query
        name: category
        required: true
        schema:
          type: string
      - description: Use this field to get only news after this ID. Default to 0
        in: query
        name: minId
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MarketNews'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Market News
      tags:
      - Default
  /company-news:
    get:
      description: List latest company news by symbol. This endpoint is only available
        for North American companies.
      operationId: company-news
      parameters:
      - description: Company symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: From date <code>YYYY-MM-DD</code>.
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: To date <code>YYYY-MM-DD</code>.
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CompanyNews'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Company News
      tags:
      - Default
  /press-releases:
    get:
      description: <p>Get latest major press releases of a company. This data can
        be used to highlight the most significant events comprised of mostly press
        releases sourced from the exchanges, BusinessWire, AccessWire, GlobeNewswire,
        Newsfile, and PRNewswire.</p><p>Full-text press releases data is available
        for Enterprise clients. <a href="mailto:support@finnhub.io">Contact Us</a>
        to learn more.</p>
      operationId: press-releases
      parameters:
      - description: Company symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'From time: 2020-01-01.'
        in: query
        name: from
        schema:
          format: date
          type: string
      - description: 'To time: 2020-01-05.'
        in: query
        name: to
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PressRelease'
          description: successful operation
      security:
      - api_key: []
      summary: Major Press Releases
      tags:
      - Default
  /news-sentiment:
    get:
      description: Get company's news sentiment and statistics. This endpoint is only
        available for US companies.
      operationId: news-sentiment
      parameters:
      - description: Company symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsSentiment'
          description: successful operation
      security:
      - api_key: []
      summary: News Sentiment
      tags:
      - Default
  /stock/peers:
    get:
      description: Get company peers. Return a list of peers operating in the same
        country and sector/industry.
      operationId: company-peers
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'Specify the grouping criteria for choosing peers.Supporter values:
          <code>sector</code>, <code>industry</code>, <code>subIndustry</code>. Default
          to <code>subIndustry</code>.'
        in: query
        name: grouping
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Peers
      tags:
      - Default
  /stock/metric:
    get:
      description: Get company basic financials such as margin, P/E ratio, 52-week
        high/low etc.
      operationId: company-basic-financials
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Metric type. Can be 1 of the following values <code>all</code>
        in: query
        name: metric
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicFinancials'
          description: successful operation
      security:
      - api_key: []
      summary: Basic Financials
      tags:
      - Default
  /stock/price-metric:
    get:
      description: Get company price performance statistics such as 52-week high/low,
        YTD return and much more.
      operationId: price-metrics
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Get data on a specific date in the past. The data is available
          weekly so your date will be automatically adjusted to the last day of that
          week.
        in: query
        name: date
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceMetrics'
          description: successful operation
      security:
      - api_key: []
      summary: Price Metrics
      tags:
      - Default
  /ca/symbol-change:
    get:
      description: Get a list of symbol changes for US-listed, EU-listed, NSE and
        ASX securities. Limit to 2000 events at a time.
      operationId: symbol-change
      parameters:
      - description: From date <code>YYYY-MM-DD</code>.
        in: query
        name: from
        required: true
        schema:
          type: string
      - description: To date <code>YYYY-MM-DD</code>.
        in: query
        name: to
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolChange'
          description: successful operation
      security:
      - api_key: []
      summary: Symbol Change
      tags:
      - Default
  /ca/isin-change:
    get:
      description: Get a list of ISIN changes for EU-listed securities. Limit to 2000
        events at a time.
      operationId: isin-change
      parameters:
      - description: From date <code>YYYY-MM-DD</code>.
        in: query
        name: from
        required: true
        schema:
          type: string
      - description: To date <code>YYYY-MM-DD</code>.
        in: query
        name: to
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IsinChange'
          description: successful operation
      security:
      - api_key: []
      summary: ISIN Change
      tags:
      - Default
  /stock/historical-market-cap:
    get:
      description: Get historical market cap data for global companies.
      operationId: historical-market-cap
      parameters:
      - description: Company symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: From date <code>YYYY-MM-DD</code>.
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: To date <code>YYYY-MM-DD</code>.
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalMarketCapData'
          description: successful operation
      security:
      - api_key: []
      summary: Historical Market Cap
      tags:
      - Default
  /stock/historical-employee-count:
    get:
      description: Get historical employee count for global companies.
      operationId: historical-employee-count
      parameters:
      - description: Company symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: From date <code>YYYY-MM-DD</code>.
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: To date <code>YYYY-MM-DD</code>.
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalEmployeeCount'
          description: successful operation
      security:
      - api_key: []
      summary: Historical Employee Count
      tags:
      - Default
  /institutional/profile:
    get:
      description: Get a list of well-known institutional investors. Currently support
        60+ profiles.
      operationId: institutional-profile
      parameters:
      - description: Filter by CIK. Leave blank to get the full list.
        in: query
        name: cik
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionalProfile'
          description: successful operation
      security:
      - api_key: []
      summary: Institutional Profile
      tags:
      - Default
  /institutional/portfolio:
    get:
      description: Get the holdings/portfolio data of institutional investors from
        13-F filings. Limit to 1 year of data at a time. You can get a list of supported
        CIK <a href="/api/v1/institutional/list?token=" target="_blank">here</a>.
      operationId: institutional-portfolio
      parameters:
      - description: Fund's CIK.
        in: query
        name: cik
        required: true
        schema:
          type: string
      - description: From date <code>YYYY-MM-DD</code>.
        in: query
        name: from
        required: true
        schema:
          type: string
      - description: To date <code>YYYY-MM-DD</code>.
        in: query
        name: to
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionalPortfolio'
          description: successful operation
      security:
      - api_key: []
      summary: Institutional Portfolio
      tags:
      - Default
  /institutional/ownership:
    get:
      description: Get a list institutional investors' positions for a particular
        stock overtime. Data from 13-F filings. Limit to 1 year of data at a time.
      operationId: institutional-ownership
      parameters:
      - description: Filter by symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Filter by CUSIP.
        in: query
        name: cusip
        required: true
        schema:
          type: string
      - description: From date <code>YYYY-MM-DD</code>.
        in: query
        name: from
        required: true
        schema:
          type: string
      - description: To date <code>YYYY-MM-DD</code>.
        in: query
        name: to
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionalOwnership'
          description: successful operation
      security:
      - api_key: []
      summary: Institutional Ownership
      tags:
      - Default
  /stock/ownership:
    get:
      description: Get a full list of shareholders of a company in descending order
        of the number of shares held. Data is sourced from <code>13F form</code>,
        <code>Schedule 13D</code> and <code>13G</code> for US market, <code>UK Share
        Register</code> for UK market, <code>SEDI</code> for Canadian market and equivalent
        filings for other international markets.
      operationId: ownership
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Limit number of results. Leave empty to get the full list.
        in: query
        name: limit
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ownership'
          description: successful operation
      security:
      - api_key: []
      summary: Ownership
      tags:
      - Default
  /stock/fund-ownership:
    get:
      description: Get a full list fund and institutional investors of a company in
        descending order of the number of shares held. Data is sourced from <code>13F
        form</code>, <code>Schedule 13D</code> and <code>13G</code> for US market,
        <code>UK Share Register</code> for UK market, <code>SEDI</code> for Canadian
        market and equivalent filings for other international markets.
      operationId: fund-ownership
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Limit number of results. Leave empty to get the full list.
        in: query
        name: limit
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundOwnership'
          description: successful operation
      security:
      - api_key: []
      summary: Fund Ownership
      tags:
      - Default
  /stock/insider-transactions:
    get:
      description: Company insider transactions data sourced from <code>Form 3,4,5</code>,
        SEDI and relevant companies' filings. This endpoint covers US, UK, Canada,
        Australia, India, and all major EU markets. Limit to 100 transactions per
        API call.
      operationId: insider-transactions
      parameters:
      - description: 'Symbol of the company: AAPL. Leave this param blank to get the
          latest transactions.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'From date: 2020-03-15.'
        in: query
        name: from
        schema:
          format: date
          type: string
      - description: 'To date: 2020-03-16.'
        in: query
        name: to
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsiderTransactions'
          description: successful operation
      security:
      - api_key: []
      summary: Insider Transactions
      tags:
      - Default
  /stock/insider-sentiment:
    get:
      description: Get insider sentiment data for US companies calculated using method
        discussed <a href="https://medium.com/@stock-api/finnhub-insiders-sentiment-analysis-cc43f9f64b3a"
        target="_blank">here</a>. The MSPR ranges from -100 for the most negative
        to 100 for the most positive which can signal price changes in the coming
        30-90 days.
      operationId: insider-sentiment
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'From date: 2020-03-15.'
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: 'To date: 2020-03-16.'
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsiderSentiments'
          description: successful operation
      security:
      - api_key: []
      summary: Insider Sentiment
      tags:
      - Default
  /stock/financials:
    get:
      description: <p>Get standardized balance sheet, income statement and cash flow
        for global companies going back 30+ years. Data is sourced from original filings
        most of which made available through <a href="#filings">SEC Filings</a> and
        <a href="#international-filings">International Filings</a> endpoints.</p><p><i>Wondering
        why our standardized data is different from Bloomberg, Reuters, Factset, S&P
        or Yahoo Finance ? Check out our <a href="/faq">FAQ page</a> to learn more</i></p>
      operationId: financials
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Statement can take 1 of these values <code>bs, ic, cf</code>
          for Balance Sheet, Income Statement, Cash Flow respectively.
        in: query
        name: statement
        required: true
        schema:
          type: string
      - description: Frequency can take 1 of these values <code>annual, quarterly,
          ttm, ytd</code>.  TTM (Trailing Twelve Months) option is available for Income
          Statement and Cash Flow. YTD (Year To Date) option is only available for
          Cash Flow.
        in: query
        name: freq
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialStatements'
          description: successful operation
      security:
      - api_key: []
      summary: Financial Statements
      tags:
      - Default
  /stock/financials-reported:
    get:
      description: Get financials as reported. This data is available for bulk download
        on <a href="https://www.kaggle.com/finnhub/reported-financials" target="_blank">Kaggle
        SEC Financials database</a>.
      operationId: financials-reported
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: CIK.
        in: query
        name: cik
        schema:
          type: string
      - description: Access number of a specific report you want to retrieve financials
          from.
        in: query
        name: accessNumber
        schema:
          type: string
      - description: Frequency. Can be either <code>annual</code> or <code>quarterly</code>.
          Default to <code>annual</code>.
        in: query
        name: freq
        schema:
          type: string
      - description: From date <code>YYYY-MM-DD</code>. Filter for endDate.
        in: query
        name: from
        schema:
          format: date
          type: string
      - description: To date <code>YYYY-MM-DD</code>. Filter for endDate.
        in: query
        name: to
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialsAsReported'
          description: successful operation
      security:
      - api_key: []
      summary: Financials As Reported
      tags:
      - Default
  /stock/revenue-breakdown:
    get:
      description: Get revenue breakdown by product. This dataset is only available
        for US companies which disclose their revenue breakdown in the annual or quarterly
        reports.
      operationId: revenue-breakdown
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: CIK.
        in: query
        name: cik
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueBreakdown'
          description: successful operation
      security:
      - api_key: []
      summary: Revenue Breakdown
      tags:
      - Default
  /stock/filings:
    get:
      description: List company's filing. Limit to 250 documents at a time. This data
        is available for bulk download on <a href="https://www.kaggle.com/finnhub/sec-filings"
        target="_blank">Kaggle SEC Filings database</a>.
      operationId: filings
      parameters:
      - description: Symbol. Leave <code>symbol</code>,<code>cik</code> and <code>accessNumber</code>
          empty to list latest filings.
        in: query
        name: symbol
        schema:
          type: string
      - description: CIK.
        in: query
        name: cik
        schema:
          type: string
      - description: Access number of a specific report you want to retrieve data
          from.
        in: query
        name: accessNumber
        schema:
          type: string
      - description: Filter by form. You can use this value <code>NT 10-K</code> to
          find non-timely filings for a company.
        in: query
        name: form
        schema:
          type: string
      - description: 'From date: 2023-03-15.'
        in: query
        name: from
        schema:
          format: date
          type: string
      - description: 'To date: 2023-03-16.'
        in: query
        name: to
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Filing'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: SEC Filings
      tags:
      - Default
  /stock/filings-sentiment:
    get:
      description: Get sentiment analysis of 10-K and 10-Q filings from SEC. An abnormal
        increase in the number of positive/negative words in filings can signal a
        significant change in the company's stock price in the upcoming 4 quarters.
        We make use of <a href= "https://sraf.nd.edu/textual-analysis/resources/"
        target="_blank">Loughran and McDonald Sentiment Word Lists</a> to calculate
        the sentiment for each filing.
      operationId: filings-sentiment
      parameters:
      - description: Access number of a specific report you want to retrieve data
          from.
        in: query
        name: accessNumber
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SECSentimentAnalysis'
          description: successful operation
      security:
      - api_key: []
      summary: SEC Sentiment Analysis
      tags:
      - Default
  /stock/similarity-index:
    get:
      description: <p>Calculate the textual difference between a company's 10-K /
        10-Q reports and the same type of report in the previous year using Cosine
        Similarity. For example, this endpoint compares 2019's 10-K with 2018's 10-K.
        Companies breaking from its routines in disclosure of financial condition
        and risk analysis section can signal a significant change in the company's
        stock price in the upcoming 4 quarters.</p>
      operationId: similarity-index
      parameters:
      - description: Symbol. Required if cik is empty
        in: query
        name: symbol
        schema:
          type: string
      - description: CIK. Required if symbol is empty
        in: query
        name: cik
        schema:
          type: string
      - description: <code>annual</code> or <code>quarterly</code>. Default to <code>annual</code>
        in: query
        name: freq
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimilarityIndex'
          description: successful operation
      security:
      - api_key: []
      summary: Similarity Index
      tags:
      - Default
  /calendar/ipo:
    get:
      description: Get recent and upcoming IPO.
      operationId: ipo-calendar
      parameters:
      - description: 'From date: 2020-03-15.'
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: 'To date: 2020-03-16.'
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPOCalendar'
          description: successful operation
      security:
      - api_key: []
      summary: IPO Calendar
      tags:
      - Default
  /sector/metrics:
    get:
      description: Get ratios for different sectors and regions/indices.
      operationId: sector-metric
      parameters:
      - description: Region. A list of supported values for this field can be found
          <a href="https://docs.google.com/spreadsheets/d/1afedyv7yWJ-z7pMjaAZK-f6ENY3mI3EBCk95QffpoHw/edit?usp=sharing"
          target="_blank">here</a>.
        in: query
        name: region
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectorMetric'
          description: successful operation
      security:
      - api_key: []
      summary: Sector Metrics
      tags:
      - Default
  /stock/dividend:
    get:
      description: Get dividends data for common stocks going back 30 years.
      operationId: stock-dividends
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: YYYY-MM-DD.
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: YYYY-MM-DD.
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dividends'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Dividends
      tags:
      - Default
  /stock/recommendation:
    get:
      description: Get latest analyst recommendation trends for a company.
      operationId: recommendation-trends
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RecommendationTrend'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Recommendation Trends
      tags:
      - Default
  /stock/price-target:
    get:
      description: Get latest price target consensus.
      operationId: price-target
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceTarget'
          description: successful operation
      security:
      - api_key: []
      summary: Price Target
      tags:
      - Default
  /stock/upgrade-downgrade:
    get:
      description: Get latest stock upgrade and downgrade.
      operationId: upgrade-downgrade
      parameters:
      - description: 'Symbol of the company: AAPL. If left blank, the API will return
          latest stock upgrades/downgrades.'
        in: query
        name: symbol
        schema:
          type: string
      - description: 'From date: 2000-03-15.'
        in: query
        name: from
        schema:
          format: date
          type: string
      - description: 'To date: 2020-03-16.'
        in: query
        name: to
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UpgradeDowngrade'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Stock Upgrade/Downgrade
      tags:
      - Default
  /stock/revenue-estimate:
    get:
      description: Get company's revenue estimates.
      operationId: company-revenue-estimates
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'Can take 1 of the following values: <code>annual, quarterly</code>.
          Default to <code>quarterly</code>'
        in: query
        name: freq
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueEstimates'
          description: successful operation
      security:
      - api_key: []
      summary: Revenue Estimates
      tags:
      - Default
  /stock/ebitda-estimate:
    get:
      description: Get company's ebitda estimates.
      operationId: company-ebitda-estimates
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'Can take 1 of the following values: <code>annual, quarterly</code>.
          Default to <code>quarterly</code>'
        in: query
        name: freq
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EbitdaEstimates'
          description: successful operation
      security:
      - api_key: []
      summary: EBITDA Estimates
      tags:
      - Default
  /stock/ebit-estimate:
    get:
      description: Get company's ebit estimates.
      operationId: company-ebit-estimates
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'Can take 1 of the following values: <code>annual, quarterly</code>.
          Default to <code>quarterly</code>'
        in: query
        name: freq
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EbitEstimates'
          description: successful operation
      security:
      - api_key: []
      summary: EBIT Estimates
      tags:
      - Default
  /stock/eps-estimate:
    get:
      description: Get company's EPS estimates.
      operationId: company-eps-estimates
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'Can take 1 of the following values: <code>annual, quarterly</code>.
          Default to <code>quarterly</code>'
        in: query
        name: freq
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsEstimates'
          description: successful operation
      security:
      - api_key: []
      summary: Earnings Estimates
      tags:
      - Default
  /stock/earnings:
    get:
      description: Get company historical quarterly earnings surprise going back to
        2000.
      operationId: company-earnings
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Limit number of period returned. Leave blank to get the full
          history.
        in: query
        name: limit
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EarningResult'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Earnings Surprises
      tags:
      - Default
  /calendar/earnings:
    get:
      description: Get historical and coming earnings release. EPS and Revenue in
        this endpoint are non-GAAP, which means they are adjusted to exclude some
        one-time or unusual items. This is the same data investors usually react to
        and talked about on the media. Estimates are sourced from both sell-side and
        buy-side analysts.
      operationId: earnings-calendar
      parameters:
      - description: 'From date: 2020-03-15.'
        in: query
        name: from
        schema:
          format: date
          type: string
      - description: 'To date: 2020-03-16.'
        in: query
        name: to
        schema:
          format: date
          type: string
      - description: 'Filter by symbol: AAPL.'
        in: query
        name: symbol
        schema:
          type: string
      - description: Set to <code>true</code> to include international markets. Default
          value is <code>false</code>
        in: query
        name: international
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsCalendar'
          description: successful operation
      security:
      - api_key: []
      summary: Earnings Calendar
      tags:
      - Default
  /quote:
    get:
      description: <p>Get real-time quote data for US stocks. Constant polling is
        not recommended. Use websocket if you need real-time updates.</p><p>Real-time
        stock prices for international markets are supported for Enterprise clients
        via our partner's feed. <a href="mailto:support@finnhub.io">Contact Us</a>
        to learn more.</p>
      operationId: quote
      parameters:
      - description: Symbol
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
          description: successful operation
      security:
      - api_key: []
      summary: Quote
      tags:
      - Default
  /stock/candle:
    get:
      description: <p>Get candlestick data (OHLCV) for stocks.</p><p>Daily data will
        be adjusted for Splits. Intraday data will remain unadjusted. Only 1 month
        of intraday will be returned at a time. If you need more historical intraday
        data, please use the from and to params iteratively to request more data.</p>
      operationId: stock-candles
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M
          </code>.Some timeframes might not be available depending on the exchange.
        in: query
        name: resolution
        required: true
        schema:
          type: string
      - description: UNIX timestamp. Interval initial value.
        in: query
        name: from
        required: true
        schema:
          format: int64
          type: integer
      - description: UNIX timestamp. Interval end value.
        in: query
        name: to
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockCandles'
          description: successful operation
      security:
      - api_key: []
      summary: Stock Candles
      tags:
      - Default
  /stock/tick:
    get:
      description: |-
        <p>Get historical tick data for global exchanges.</p><p>For more historical tick data, you can visit our bulk download page in the Dashboard <a target="_blank" href="/dashboard/download",>here</a> to speed up the download process.</p><table class="table table-hover">
          <thead>
            <tr>
              <th>Exchange</th>
              <th>Segment</th>
              <th>Delay</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-blue">US CTA/UTP</th>
              <td>Full SIP</td>
              <td>End-of-day</td>
            </tr>
            <tr>
              <td class="text-blue">TSX</th>
              <td><ul><li>TSX</li><li>TSX Venture</li><li>Index</li></ul></td>
              <td>End-of-day</td>
            </tr>
            <tr>
              <td class="text-blue">LSE</th>
              <td><ul><li>London Stock Exchange (L)</li><li>LSE International (L)</li><li>LSE European (L)</li></ul></td>
              <td>15 minute</td>
            </tr>
            <tr>
              <td class="text-blue">Euronext</th>
              <td><ul> <li>Euronext Paris (PA)</li> <li>Euronext Amsterdam (AS)</li> <li>Euronext Lisbon (LS)</li> <li>Euronext Brussels (BR)</li> <li>Euronext Oslo (OL)</li> <li>Euronext London (LN)</li> <li>Euronext Dublin (IR)</li> <li>Index</li> <li>Warrant</li></ul></td>
              <td>End-of-day</td>
            </tr>
            <tr>
              <td class="text-blue">Deutsche Börse</th>
              <td><ul> <li>Frankfurt (F)</li> <li>Xetra (DE)</li> <li>Duesseldorf (DU)</li> <li>Hamburg (HM)</li> <li>Berlin (BE)</li> <li>Hanover (HA)</li> <li>Stoxx (SX)</li> <li>TradeGate (TG)</li> <li>Zertifikate (SC)</li> <li>Index</li> <li>Warrant</li></ul></td>
              <td>End-of-day</td>
            </tr>
          </tbody>
        </table>
      operationId: stock-tick
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'Date: 2020-04-02.'
        in: query
        name: date
        required: true
        schema:
          format: date
          type: string
      - description: 'Limit number of ticks returned. Maximum value: <code>25000</code>'
        in: query
        name: limit
        required: true
        schema:
          format: int64
          type: integer
      - description: Number of ticks to skip. Use this parameter to loop through the
          entire data.
        in: query
        name: skip
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickData'
          description: successful operation
      security:
      - api_key: []
      summary: Tick Data
      tags:
      - Default
  /stock/bbo:
    get:
      description: <p>Get historical best bid and offer for US stocks, LSE, TSX, Euronext
        and Deutsche Borse.</p><p>For US market, this endpoint only serves historical
        NBBO from the beginning of 2020. To download more historical data, please
        visit our bulk download page in the Dashboard <a target="_blank" href="/dashboard/download",>here</a>.</p>
      operationId: stock-nbbo
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: 'Date: 2020-04-02.'
        in: query
        name: date
        required: true
        schema:
          format: date
          type: string
      - description: 'Limit number of ticks returned. Maximum value: <code>25000</code>'
        in: query
        name: limit
        required: true
        schema:
          format: int64
          type: integer
      - description: Number of ticks to skip. Use this parameter to loop through the
          entire data.
        in: query
        name: skip
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalNBBO'
          description: successful operation
      security:
      - api_key: []
      summary: Historical NBBO
      tags:
      - Default
  /stock/bidask:
    get:
      description: Get last bid/ask data for US stocks.
      operationId: stock-bidask
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LastBid-Ask'
          description: successful operation
      security:
      - api_key: []
      summary: Last Bid-Ask
      tags:
      - Default
  /stock/split:
    get:
      description: Get splits data for stocks.
      operationId: stock-splits
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: YYYY-MM-DD.
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: YYYY-MM-DD.
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Split'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Splits
      tags:
      - Default
  /stock/dividend2:
    get:
      description: Get global dividends data.
      operationId: stock-basic-dividends
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dividends2'
          description: successful operation
      security:
      - api_key: []
      summary: Dividends 2 (Basic)
      tags:
      - Default
  /index/constituents:
    get:
      description: Get a list of index's constituents. A list of supported indices
        for this endpoint can be found <a href="/api/v1/index/list?token=" target="_blank">here</a>.
      operationId: indices-constituents
      parameters:
      - description: symbol
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicesConstituents'
          description: successful operation
      security:
      - api_key: []
      summary: Indices Constituents
      tags:
      - Default
  /index/historical-constituents:
    get:
      description: Get full history of index's constituents including symbols and
        dates of joining and leaving the Index. Currently support <code>^GSPC</code>,
        <code>^NDX</code>, <code>^DJI</code>
      operationId: indices-historical-constituents
      parameters:
      - description: symbol
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicesHistoricalConstituents'
          description: successful operation
      security:
      - api_key: []
      summary: Indices Historical Constituents
      tags:
      - Default
  /etf/profile:
    get:
      description: Get ETF profile information. This endpoint has global coverage.
        A list of supported ETFs can be found <a href="/api/v1/etf/list?token=" target="_blank">here</a>.
      operationId: etfs-profile
      parameters:
      - description: ETF symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: ETF isin.
        in: query
        name: isin
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ETFsProfile'
          description: successful operation
      security:
      - api_key: []
      summary: ETFs Profile
      tags:
      - Default
  /etf/holdings:
    get:
      description: Get full ETF holdings/constituents. This endpoint has global coverage.
        Widget only shows top 10 holdings. A list of supported ETFs can be found <a
        href="/api/v1/etf/list?token=" target="_blank">here</a>.
      operationId: etfs-holdings
      parameters:
      - description: ETF symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: ETF isin.
        in: query
        name: isin
        schema:
          type: string
      - description: Skip the first n results. You can use this parameter to query
          historical constituents data. The latest result is returned if skip=0 or
          not set.
        in: query
        name: skip
        schema:
          format: int64
          type: integer
      - description: Query holdings by date. You can use either this param or <code>skip</code>
          param, not both.
        in: query
        name: date
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ETFsHoldings'
          description: successful operation
      security:
      - api_key: []
      summary: ETFs Holdings
      tags:
      - Default
  /etf/sector:
    get:
      description: Get ETF sector exposure data.
      operationId: etfs-sector-exposure
      parameters:
      - description: ETF symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: ETF isin.
        in: query
        name: isin
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ETFsSectorExposure'
          description: successful operation
      security:
      - api_key: []
      summary: ETFs Sector Exposure
      tags:
      - Default
  /etf/country:
    get:
      description: Get ETF country exposure data.
      operationId: etfs-country-exposure
      parameters:
      - description: ETF symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: ETF isin.
        in: query
        name: isin
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ETFsCountryExposure'
          description: successful operation
      security:
      - api_key: []
      summary: ETFs Country Exposure
      tags:
      - Default
  /mutual-fund/profile:
    get:
      description: Get mutual funds profile information. This endpoint covers both
        US and global mutual funds. For international funds, you must query the data
        using ISIN. A list of supported funds can be found <a href="/api/v1/mutual-fund/list?token="
        target="_blank">here</a>.
      operationId: mutual-fund-profile
      parameters:
      - description: Fund's symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: Fund's isin.
        in: query
        name: isin
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutualFundProfile'
          description: successful operation
      security:
      - api_key: []
      summary: Mutual Funds Profile
      tags:
      - Default
  /mutual-fund/holdings:
    get:
      description: Get full Mutual Funds holdings/constituents. This endpoint covers
        both US and global mutual funds. For international funds, you must query the
        data using ISIN. A list of supported funds can be found <a href="/api/v1/mutual-fund/list?token="
        target="_blank">here</a>.
      operationId: mutual-fund-holdings
      parameters:
      - description: Fund's symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: Fund's isin.
        in: query
        name: isin
        schema:
          type: string
      - description: Skip the first n results. You can use this parameter to query
          historical constituents data. The latest result is returned if skip=0 or
          not set.
        in: query
        name: skip
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutualFundHoldings'
          description: successful operation
      security:
      - api_key: []
      summary: Mutual Funds Holdings
      tags:
      - Default
  /mutual-fund/sector:
    get:
      description: Get Mutual Funds sector exposure data.
      operationId: mutual-fund-sector-exposure
      parameters:
      - description: Mutual Fund symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: Fund's isin.
        in: query
        name: isin
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutualFundSectorExposure'
          description: successful operation
      security:
      - api_key: []
      summary: Mutual Funds Sector Exposure
      tags:
      - Default
  /mutual-fund/country:
    get:
      description: Get Mutual Funds country exposure data.
      operationId: mutual-fund-country-exposure
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        schema:
          type: string
      - description: Fund's isin.
        in: query
        name: isin
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutualFundCountryExposure'
          description: successful operation
      security:
      - api_key: []
      summary: Mutual Funds Country Exposure
      tags:
      - Default
  /mutual-fund/eet:
    get:
      description: Get EET data for EU funds. For PAIs data, please see the EET PAI
        endpoint.
      operationId: mutual-fund-eet
      parameters:
      - description: ISIN.
        in: query
        name: isin
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutualFundEet'
          description: successful operation
      security:
      - api_key: []
      summary: Mutual Funds EET
      tags:
      - Default
  /mutual-fund/eet-pai:
    get:
      description: Get EET PAI data for EU funds.
      operationId: mutual-fund-eet-pai
      parameters:
      - description: ISIN.
        in: query
        name: isin
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MutualFundEetPai'
          description: successful operation
      security:
      - api_key: []
      summary: Mutual Funds EET PAI
      tags:
      - Default
  /forex/exchange:
    get:
      description: List supported forex exchanges
      operationId: forex-exchanges
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Forex Exchanges
      tags:
      - Default
  /forex/symbol:
    get:
      description: List supported forex symbols.
      operationId: forex-symbols
      parameters:
      - description: Exchange you want to get the list of symbols from.
        in: query
        name: exchange
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ForexSymbol'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Forex Symbol
      tags:
      - Default
  /forex/candle:
    get:
      description: Get candlestick data for forex symbols.
      operationId: forex-candles
      parameters:
      - description: Use symbol returned in <code>/forex/symbol</code> endpoint for
          this field.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M
          </code>.Some timeframes might not be available depending on the exchange.
        in: query
        name: resolution
        required: true
        schema:
          type: string
      - description: UNIX timestamp. Interval initial value.
        in: query
        name: from
        required: true
        schema:
          format: int64
          type: integer
      - description: UNIX timestamp. Interval end value.
        in: query
        name: to
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForexCandles'
          description: successful operation
      security:
      - api_key: []
      summary: Forex Candles
      tags:
      - Default
  /forex/rates:
    get:
      description: Get rates for all forex pairs. Ideal for currency conversion
      operationId: forex-rates
      parameters:
      - description: Base currency. Default to EUR.
        in: query
        name: base
        schema:
          type: string
      - description: Date. Leave blank to get the latest data.
        in: query
        name: date
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forexrates'
          description: successful operation
      security:
      - api_key: []
      summary: Forex rates
      tags:
      - Default
  /crypto/exchange:
    get:
      description: List supported crypto exchanges
      operationId: crypto-exchanges
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Crypto Exchanges
      tags:
      - Default
  /crypto/symbol:
    get:
      description: List supported crypto symbols by exchange
      operationId: crypto-symbols
      parameters:
      - description: Exchange you want to get the list of symbols from.
        in: query
        name: exchange
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CryptoSymbol'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Crypto Symbol
      tags:
      - Default
  /crypto/profile:
    get:
      description: Get crypto's profile.
      operationId: crypto-profile
      parameters:
      - description: Crypto symbol such as BTC or ETH.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoProfile'
          description: successful operation
      security:
      - api_key: []
      summary: Crypto Profile
      tags:
      - Default
  /crypto/candle:
    get:
      description: Get candlestick data for crypto symbols.
      operationId: crypto-candles
      parameters:
      - description: Use symbol returned in <code>/crypto/symbol</code> endpoint for
          this field.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M
          </code>.Some timeframes might not be available depending on the exchange.
        in: query
        name: resolution
        required: true
        schema:
          type: string
      - description: UNIX timestamp. Interval initial value.
        in: query
        name: from
        required: true
        schema:
          format: int64
          type: integer
      - description: UNIX timestamp. Interval end value.
        in: query
        name: to
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoCandles'
          description: successful operation
      security:
      - api_key: []
      summary: Crypto Candles
      tags:
      - Default
  /scan/pattern:
    get:
      description: Run pattern recognition algorithm on a symbol. Support double top/bottom,
        triple top/bottom, head and shoulders, triangle, wedge, channel, flag, and
        candlestick patterns.
      operationId: pattern-recognition
      parameters:
      - description: Symbol
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M
          </code>.Some timeframes might not be available depending on the exchange.
        in: query
        name: resolution
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatternRecognition'
          description: successful operation
      security:
      - api_key: []
      summary: Pattern Recognition
      tags:
      - Default
  /scan/support-resistance:
    get:
      description: Get support and resistance levels for a symbol.
      operationId: support-resistance
      parameters:
      - description: Symbol
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M
          </code>.Some timeframes might not be available depending on the exchange.
        in: query
        name: resolution
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportResistance'
          description: successful operation
      security:
      - api_key: []
      summary: Support/Resistance
      tags:
      - Default
  /scan/technical-indicator:
    get:
      description: Get aggregate signal of multiple technical indicators such as MACD,
        RSI, Moving Average v.v. A full list of indicators can be found <a href="https://docs.google.com/spreadsheets/d/1MWuy0WuT2yVlxr1KbPdggVygMZtJfunDnhe-C0GEXYM/edit?usp=sharing"
        target="_blank">here</a>.
      operationId: aggregate-indicator
      parameters:
      - description: symbol
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M
          </code>.Some timeframes might not be available depending on the exchange.
        in: query
        name: resolution
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregateIndicators'
          description: successful operation
      security:
      - api_key: []
      summary: Aggregate Indicators
      tags:
      - Default
  /indicator:
    get:
      description: Return technical indicator with price data. List of supported indicators
        can be found <a href="https://docs.google.com/spreadsheets/d/1ylUvKHVYN2E87WdwIza8ROaCpd48ggEl1k5i5SgA29k/edit?usp=sharing"
        target="_blank">here</a>.
      operationId: technical-indicator
      parameters:
      - description: symbol
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Supported resolution includes <code>1, 5, 15, 30, 60, D, W, M
          </code>.Some timeframes might not be available depending on the exchange.
        in: query
        name: resolution
        required: true
        schema:
          type: string
      - description: UNIX timestamp. Interval initial value.
        in: query
        name: from
        required: true
        schema:
          format: int64
          type: integer
      - description: UNIX timestamp. Interval end value.
        in: query
        name: to
        required: true
        schema:
          format: int64
          type: integer
      - description: Indicator name. Full list can be found <a href="https://docs.google.com/spreadsheets/d/1ylUvKHVYN2E87WdwIza8ROaCpd48ggEl1k5i5SgA29k/edit?usp=sharing"
          target="_blank">here</a>.
        in: query
        name: indicator
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndicatorFields'
        description: Check out <a href="https://docs.google.com/spreadsheets/d/1ylUvKHVYN2E87WdwIza8ROaCpd48ggEl1k5i5SgA29k/edit?usp=sharing"
          target="_blank">this page</a> to see which indicators and params are supported.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechnicalIndicator'
          description: successful operation
      security:
      - api_key: []
      summary: Technical Indicators
      tags:
      - Default
      x-codegen-request-body-name: indicator_fields
  /stock/transcripts/list:
    get:
      description: List earnings call transcripts' metadata. This endpoint is available
        for US, UK, European, Australian and Canadian companies.
      operationId: transcripts-list
      parameters:
      - description: 'Company symbol: AAPL. Leave empty to list the latest transcripts'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsCallTranscriptsList'
          description: successful operation
      security:
      - api_key: []
      summary: Earnings Call Transcripts List
      tags:
      - Default
  /stock/transcripts:
    get:
      description: <p>Get earnings call transcripts, audio and participants' list.
        Data is available for US, UK, European, Australian and Canadian companies.<p>15+
        years of data is available with 220,000+ audio which add up to 7TB in size.</p>
      operationId: transcripts
      parameters:
      - description: Transcript's id obtained with <a href="#transcripts-list">Transcripts
          List endpoint</a>.
        in: query
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsCallTranscripts'
          description: successful operation
      security:
      - api_key: []
      summary: Earnings Call Transcripts
      tags:
      - Default
  /stock/social-sentiment:
    get:
      description: <p>Get social sentiment for stocks on Reddit and Twitter.</p>
      operationId: social-sentiment
      parameters:
      - description: Company symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: From date <code>YYYY-MM-DD</code>.
        in: query
        name: from
        schema:
          format: date
          type: string
      - description: To date <code>YYYY-MM-DD</code>.
        in: query
        name: to
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialSentiment'
          description: successful operation
      security:
      - api_key: []
      summary: Social Sentiment
      tags:
      - Default
  /stock/investment-theme:
    get:
      description: <p>Thematic investing involves creating a portfolio (or portion
        of a portfolio) by gathering together a collection of companies involved in
        certain areas that you predict will generate above-market returns over the
        long term. Themes can be based on a concept such as ageing populations or
        a sub-sector such as robotics, and drones. Thematic investing focuses on predicted
        long-term trends rather than specific companies or sectors, enabling investors
        to access structural, one-off shifts that can change an entire industry.</p><p>This
        endpoint will help you get portfolios of different investment themes that
        are changing our life and are the way of the future.</p><p>A full list of
        themes supported can be found <a target="_blank" href="https://docs.google.com/spreadsheets/d/1ULj9xDh4iPoQj279M084adZ2_S852ttRthKKJ7madYc/edit?usp=sharing">here</a>.
        The theme coverage and portfolios are updated bi-weekly by our analysts. Our
        approach excludes penny, super-small cap and illiquid stocks.</p>
      operationId: investment-themes
      parameters:
      - description: Investment theme. A full list of themes supported can be found
          <a target="_blank" href="https://docs.google.com/spreadsheets/d/1ULj9xDh4iPoQj279M084adZ2_S852ttRthKKJ7madYc/edit?usp=sharing">here</a>.
        in: query
        name: theme
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentThemes'
          description: successful operation
      security:
      - api_key: []
      summary: Investment Themes (Thematic Investing)
      tags:
      - Default
  /stock/supply-chain:
    get:
      description: <p>This endpoint provides an overall map of public companies' key
        customers and suppliers. The data offers a deeper look into a company's supply
        chain and how products are created. The data will help investors manage risk,
        limit exposure or generate alpha-generating ideas and trading insights.</p>
      operationId: supply-chain-relationships
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplyChainRelationships'
          description: successful operation
      security:
      - api_key: []
      summary: Supply Chain Relationships
      tags:
      - Default
  /stock/esg:
    get:
      description: <p>This endpoint provides the latest ESG scores and important indicators
        for 7000+ global companies. The data is collected through company's public
        ESG disclosure and public sources.</p><p>Our ESG scoring models takes into
        account more than 150 different inputs to calculate the level of ESG risks
        and how well a company is managing them. A higher score means lower ESG risk
        or better ESG management. ESG scores are in the the range of 0-100. Some key
        indicators might contain letter-grade score from C- to A+ with C- is the lowest
        score and A+ is the highest score.</p>
      operationId: company-esg-score
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyESG'
          description: successful operation
      security:
      - api_key: []
      summary: Company ESG Scores
      tags:
      - Default
  /stock/historical-esg:
    get:
      description: <p>This endpoint provides historical ESG scores and important indicators
        for 7000+ global companies. The data is collected through company's public
        ESG disclosure and public sources.</p><p>Our ESG scoring models takes into
        account more than 150 different inputs to calculate the level of ESG risks
        and how well a company is managing them. A higher score means lower ESG risk
        or better ESG management. ESG scores are in the the range of 0-100. Some key
        indicators might contain letter-grade score from C- to A+ with C- is the lowest
        score and A+ is the highest score.</p>
      operationId: company-historical-esg-score
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalCompanyESG'
          description: successful operation
      security:
      - api_key: []
      summary: Historical ESG Scores
      tags:
      - Default
  /stock/earnings-quality-score:
    get:
      description: '<p>This endpoint provides Earnings Quality Score for global companies.</p><p>
        Earnings quality refers to the extent to which current earnings predict future
        earnings. "High-quality" earnings are expected to persist, while "low-quality"
        earnings do not. A higher score means a higher earnings quality</p><p>Finnhub
        uses a proprietary model which takes into consideration 4 criteria:</p> <ul
        style="list-style-type: unset; margin-left: 30px;"><li>Profitability</li><li>Growth</li><li>Cash
        Generation & Capital Allocation</li><li>Leverage</li></ul><br/><p>We then
        compare the metrics of each company in each category against its peers in
        the same industry to gauge how quality its earnings is.</p>'
      operationId: company-earnings-quality-score
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: Frequency. Currently support <code>annual</code> and <code>quarterly</code>
        in: query
        name: freq
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyEarningsQualityScore'
          description: successful operation
      security:
      - api_key: []
      summary: Company Earnings Quality Score
      tags:
      - Default
  /covid19/us:
    get:
      description: Get real-time updates on the number of COVID-19 (Corona virus)
        cases in the US with a state-by-state breakdown. Data is sourced from CDC
        and reputable sources. You can also access this API <a href="https://rapidapi.com/Finnhub/api/finnhub-real-time-covid-19"
        target="_blank" rel="nofollow">here</a>
      operationId: covid-19
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CovidInfo'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: COVID-19
      tags:
      - Default
  /fda-advisory-committee-calendar:
    get:
      description: FDA's advisory committees are established to provide functions
        which support the agency's mission of protecting and promoting the public
        health, while meeting the requirements set forth in the Federal Advisory Committee
        Act. Committees are either mandated by statute or established at the discretion
        of the Department of Health and Human Services. Each committee is subject
        to renewal at two-year intervals unless the committee charter states otherwise.
      operationId: fda-committee-meeting-calendar
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FDAComitteeMeeting'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: FDA Committee Meeting Calendar
      tags:
      - Default
  /stock/uspto-patent:
    get:
      description: List USPTO patents for companies. Limit to 250 records per API
        call.
      operationId: stock-uspto-patent
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: From date <code>YYYY-MM-DD</code>.
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: To date <code>YYYY-MM-DD</code>.
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsptoPatentResult'
          description: successful operation
      security:
      - api_key: []
      summary: USPTO Patents
      tags:
      - Default
  /stock/visa-application:
    get:
      description: Get a list of H1-B and Permanent visa applications for companies
        from the DOL. The data is updated quarterly.
      operationId: stock-visa-application
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: From date <code>YYYY-MM-DD</code>. Filter on the <code>beginDate</code>
          column.
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: To date <code>YYYY-MM-DD</code>. Filter on the <code>beginDate</code>
          column.
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisaApplicationResult'
          description: successful operation
      security:
      - api_key: []
      summary: H1-B Visa Application
      tags:
      - Default
  /stock/lobbying:
    get:
      description: Get a list of reported lobbying activities in the Senate and the
        House.
      operationId: stock-lobbying
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: From date <code>YYYY-MM-DD</code>.
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: To date <code>YYYY-MM-DD</code>.
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LobbyingResult'
          description: successful operation
      security:
      - api_key: []
      summary: Senate Lobbying
      tags:
      - Default
  /stock/usa-spending:
    get:
      description: Get a list of government's spending activities from USASpending
        dataset for public companies. This dataset can help you identify companies
        that win big government contracts which is extremely important for industries
        such as Defense, Aerospace, and Education.
      operationId: stock-usa-spending
      parameters:
      - description: Symbol.
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: From date <code>YYYY-MM-DD</code>. Filter for <code>actionDate</code>
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: To date <code>YYYY-MM-DD</code>. Filter for <code>actionDate</code>
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsaSpendingResult'
          description: successful operation
      security:
      - api_key: []
      summary: USA Spending
      tags:
      - Default
  /stock/congressional-trading:
    get:
      description: Get stock trades data disclosed by members of congress.
      operationId: congressional-trading
      parameters:
      - description: 'Symbol of the company: AAPL.'
        in: query
        name: symbol
        required: true
        schema:
          type: string
      - description: From date <code>YYYY-MM-DD</code>.
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: To date <code>YYYY-MM-DD</code>.
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CongressionalTrading'
          description: successful operation
      security:
      - api_key: []
      summary: Congressional Trading
      tags:
      - Default
  /bond/profile:
    get:
      description: Get general information of a bond. You can query by FIGI, ISIN
        or CUSIP. A list of supported bonds can be found <a href="/api/v1/bond/list?token="
        target="_blank">here</a>.
      operationId: bond-profile
      parameters:
      - description: ISIN
        in: query
        name: isin
        schema:
          type: string
      - description: CUSIP
        in: query
        name: cusip
        schema:
          type: string
      - description: FIGI
        in: query
        name: figi
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondProfile'
          description: successful operation
      security:
      - api_key: []
      summary: Bond Profile
      tags:
      - Default
  /bond/price:
    get:
      description: |-
        <p>Get bond's price data. The following datasets are supported:</p><table class="table table-hover">
          <thead>
            <tr>
              <th>Exchange</th>
              <th>Segment</th>
              <th>Delay</th>
            </tr>
          </thead>
          <tbody>
          <tr>
              <td class="text-blue">US Government Bonds</th>
              <td>Government Bonds</td>
              <td>End-of-day</td>
            </tr>
            <tr>
              <td class="text-blue">FINRA Trace</th>
              <td>BTDS: US Corporate Bonds</td>
              <td>Delayed 4h</td>
            </tr>
            <tr>
              <td class="text-blue">FINRA Trace</th>
              <td>144A Bonds</td>
              <td>Delayed 4h</td>
            </tr>
          </tbody>
        </table>
      operationId: bond-price
      parameters:
      - description: ISIN.
        in: query
        name: isin
        required: true
        schema:
          type: string
      - description: UNIX timestamp. Interval initial value.
        in: query
        name: from
        required: true
        schema:
          format: int64
          type: integer
      - description: UNIX timestamp. Interval end value.
        in: query
        name: to
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondCandles'
          description: successful operation
      security:
      - api_key: []
      summary: Bond price data
      tags:
      - Default
  /bond/tick:
    get:
      description: |-
        <p>Get trade-level data for bonds. The following datasets are supported:</p><table class="table table-hover">
          <thead>
            <tr>
              <th>Exchange</th>
              <th>Segment</th>
              <th>Delay</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-blue">FINRA Trace</th>
              <td>BTDS: US Corporate Bonds</td>
              <td>Delayed 4h</td>
            </tr>
            <tr>
              <td class="text-blue">FINRA Trace</th>
              <td>144A Bonds</td>
              <td>Delayed 4h</td>
            </tr>
          </tbody>
        </table>
      operationId: bond-tick
      parameters:
      - description: ISIN.
        in: query
        name: isin
        required: true
        schema:
          type: string
      - description: 'Date: 2020-04-02.'
        in: query
        name: date
        required: true
        schema:
          format: date
          type: string
      - description: 'Limit number of ticks returned. Maximum value: <code>25000</code>'
        in: query
        name: limit
        required: true
        schema:
          format: int64
          type: integer
      - description: Number of ticks to skip. Use this parameter to loop through the
          entire data.
        in: query
        name: skip
        required: true
        schema:
          format: int64
          type: integer
      - description: 'Currently support the following values: <code>trace</code>.'
        in: query
        name: exchange
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondTickData'
          description: successful operation
      security:
      - api_key: []
      summary: Bond Tick Data
      tags:
      - Default
  /bond/yield-curve:
    get:
      description: Get yield curve data for Treasury bonds.
      operationId: bond-yield-curve
      parameters:
      - description: Bond's code. You can find the list of supported code <a href="https://docs.google.com/spreadsheets/d/1iA-lM0Kht7lsQZ7Uu_s6r2i1BbQNUNO9eGkO5-zglHg/edit?usp=sharing"
          target="_blank" rel="noopener">here</a>.
        in: query
        name: code
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondYieldCurve'
          description: successful operation
      security:
      - api_key: []
      summary: Bond Yield Curve
      tags:
      - Default
  /airline/price-index:
    get:
      description: <p>The Flight Ticket Price Index API provides comprehensive data
        on airline ticket prices, including the average daily ticket price and its
        percentage change (price index). This data, collected weekly and projected
        two weeks ahead, aggregates daily prices and indexes from the 50 busiest and
        largest airports across the USA. The dataset includes detailed information
        on airlines, dates, and average ticket prices, offering valuable insights
        for market analysis and pricing strategies.</p><p>The price index is calculated
        as percentage change of average daily ticket price from the previous weekly
        reading. Raw ticket prices data is available for Enterprise users. <a href="mailto:support@finnhub.io">Contact
        us</a> to inquire about the raw price data.</p>
      operationId: airline-price-index
      parameters:
      - description: 'Filter data by airline. Accepted values: <code>united</code>,<code>delta</code>,<code>american_airlines</code>,<code>southwest</code>,<code>southern_airways_express</code>,<code>alaska_airlines</code>,<code>frontier_airlines</code>,<code>jetblue_airways</code>,<code>spirit_airlines</code>,<code>sun_country_airlines</code>,<code>breeze_airways</code>,<code>hawaiian_airlines</code>'
        in: query
        name: airline
        required: true
        schema:
          type: string
      - description: From date <code>YYYY-MM-DD</code>.
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
      - description: To date <code>YYYY-MM-DD</code>.
        in: query
        name: to
        required: true
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirlinePriceIndexData'
          description: successful operation
      security:
      - api_key: []
      summary: Airline Price Index
      tags:
      - Default
  /country:
    get:
      description: List all countries and metadata.
      operationId: country
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CountryMetadata'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Country Metadata
      tags:
      - Default
  /calendar/economic:
    get:
      description: <p>Get recent and upcoming economic releases.</p><p>Historical
        events and surprises are available for Enterprise clients.</p>
      operationId: economic-calendar
      parameters:
      - description: From date <code>YYYY-MM-DD</code>.
        in: query
        name: from
        schema:
          format: date
          type: string
      - description: To date <code>YYYY-MM-DD</code>.
        in: query
        name: to
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EconomicCalendar'
          description: successful operation
      security:
      - api_key: []
      summary: Economic Calendar
      tags:
      - Default
  /economic/code:
    get:
      description: List codes of supported economic data.
      operationId: economic-code
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EconomicCode'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: Economic Code
      tags:
      - Default
  /economic:
    get:
      description: Get economic data.
      operationId: economic-data
      parameters:
      - description: Economic code.
        in: query
        name: code
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EconomicData'
          description: successful operation
      security:
      - api_key: []
      summary: Economic Data
      tags:
      - Default
  /stock/international-filings:
    get:
      description: List filings for international companies. Limit to 500 documents
        at a time. These are the documents we use to source our fundamental data.
        Only support SEDAR and UK Companies House for normal usage. Enterprise clients
        who need access to the full filings for global markets should contact us for
        the access.
      operationId: international-filings
      parameters:
      - description: Symbol. Leave empty to list latest filings.
        in: query
        name: symbol
        schema:
          type: string
      - description: Filter by country using country's 2-letter code.
        in: query
        name: country
        schema:
          type: string
      - description: 'From date: 2023-01-15.'
        in: query
        name: from
        schema:
          format: date
          type: string
      - description: 'To date: 2023-12-16.'
        in: query
        name: to
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InternationalFiling'
                type: array
          description: successful operation
      security:
      - api_key: []
      summary: International Filings
      tags:
      - Default
components:
  schemas:
    SearchBody:
      properties:
        query:
          description: Search query
          type: string
        isins:
          description: 'List of isin to search, comma separated (Max: 50).'
          type: string
        cusips:
          description: 'List of cusip to search, comma separated (Max: 50).'
          type: string
        ciks:
          description: 'List of SEC Center Index Key to search, comma separated (Max:
            50).'
          type: string
        sedarIds:
          description: 'List of SEDAR issuer number to search, comma separated (Max:
            50).'
          type: string
        chIds:
[...]
